<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google. ">
    <meta name="keywords" content="materialize, admin template, dashboard template, flat admin template, responsive admin template,">
    <title>歡樂派對 Happy Dating | 桃園最大換桌聯誼</title>
    <!-- Stylesheets
    ============================================= -->
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
    <link rel="icon" href="/images/favicon/favicon-32x32.png" sizes="32x32">

    <!-- <link rel="stylesheet" href="/css/bootstrap.css" type="text/css" /> -->
    <link rel="stylesheet" href="/style.css" type="text/css" />
    <link rel="stylesheet" href="/css/dark.css" type="text/css" />
    <link rel="stylesheet" href="/css/font-icons.css" type="text/css" />
    <link rel="stylesheet" href="/css/animate.css" type="text/css" />
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css" />
    <link rel="stylesheet" href="/css/responsive.css" type="text/css" />

    <script src="//cdn.ckeditor.com/4.5.11/full/ckeditor.js"></script>

<!--     <link rel="stylesheet" href="/demos/travel/css/datepicker.css" type="text/css" />
    <link rel="stylesheet" href="/css/components/timepicker.css" type="text/css" />
    <link rel="stylesheet" href="/css/components/daterangepicker.css" type="text/css" /> -->

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lt IE 9]>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->

</head>

<template name="appLoading">
    <!-- <div class="col s12 m12 l"> -->
    <BR><BR>
    <h4 class="center">讀取中...</h4>
    <BR><BR>
<!--
    <div class="progress">
        <div class="indeterminate"></div>
    </div> -->
    <!-- </div> -->
</template>
<template name="appNotFound">
    <div id="error-page">
        <div class="row">
            <div class="col s12">
                <div class="browser-window">
                    <div class="top-bar">
                        <div class="circles">
                            <div id="close-circle" class="circle"></div>
                            <div id="minimize-circle" class="circle"></div>
                            <div id="maximize-circle" class="circle"></div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="row">
                            <div id="site-layout-example-top" class="col s12">
                                <p class="flat-text-logo center white-text caption-uppercase">Sorry but we couldn’t find this page :(</p>
                            </div>
                            <div id="site-layout-example-right" class="col s12 m12 l12">
                                <div class="row center">
                                    <h1 class="text-long-shadow col s12">404</h1>
                                </div>
                                <div class="row center">
                                    <p class="center white-text col s12">It seems that this page doesn’t exist.</p>
                                    <p class="center s12">
                                        <button onclick="goBack()" class="btn waves-effect waves-light">Back</button> <a href="index.html" class="btn waves-effect waves-light">Homepage</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
