<template name="logout">
    登出中…
</template>
<template name="register">
    <div id="register" style="display: none;">
        <form class="register-form">
            <div class="top-cart-items">
                <div class="top-cart-item clearfix">
                    <label for="rusername">帳號</label>
                    <input type="text" id="rusername" name="username" value="" class="sm-form-control">
                </div>
                <div class="top-cart-item clearfix">
                    <label for="remail">電子信箱</label>
                    <input type="text" id="remail" name="email" value="" class="sm-form-control">
                </div>
                <div class="top-cart-item clearfix">
                    <label for="rpassword">密碼</label>
                    <input type="password" id="rpassword" name="password" value="" class="sm-form-control">
                </div>
                <div class="top-cart-item clearfix">
                    <label for="rpassword2">重覆密碼</label>
                    <input type="password" id="rpassword2" name="password2" value="" class="sm-form-control">
                </div>
            </div>
            <div id="rform-messages"></div>
            <div class="top-cart-action clearfix">
                <button class="button button-3d button-small nomargin fright" style="background-color: #98b7e7; " type="submit">註冊</button>
                <!-- <button class="button button-3d button-small nomargin fright" style="background-color: #98b7e7; margin-right: 10px;">註冊</button> -->
            </div>
        </form>
    </div>
</template>
<template name="login">
    <style type="text/css">
      #content {
        overflow : visible;
      }
    </style>
    <div class="accordion accordion-lg divcenter nobottommargin clearfix" style="max-width: 550px;">
        <div class="acctitle"><i class="acc-closed icon-lock3"></i><i class="acc-open icon-unlock"></i>登入您的理財帳號</div>
        <div class="acc_content clearfix">
            <form id="login-form" name="login-form" class="nobottommargin" action="#" method="post">
                <div class="col_full">
                    <label for="lusername">帳號/工號</label>
                    <input placeholder="請輸入電子信箱或工號" type="text" id="lusername" name="username" value="" class="sm-form-control">
                </div>
                <div class="col_full">
                    <label for="lpassword">密碼</label>
                    <input type="password" id="lpassword" name="password" value="" class="sm-form-control">
                </div>
                <div class="col_full nobottommargin">
                    <button class="button button-3d nomargin" id="login-form-submit" name="login-form-submit" value="login">登入</button>
                    <a href="/forgot-password" class="fright">忘記密碼?</a>
                    <span id="lform-messages"></span>
                </div>
            </form>
        </div>
        <div class="acctitle"><i class="acc-closed icon-user4"></i><i class="acc-open icon-ok-sign"></i>註冊新帳號</div>
        <div class="acc_content clearfix">
            <form id="register-form" name="register-form" class="nobottommargin" action="#" method="post">
                <div class="col_half ">
                    <label for="remail">*電子信箱(帳號) Email</label>
                    <input placeholder="請輸入電子信箱" type="text" id="remail" name="email" value="" class="sm-form-control">
                </div>
                <div class="col_half col_last">
                    <label for="rusername">工號</label>
                    <input type="text" id="rusername" name="username" value="" class="sm-form-control">
                </div>
                <div class="clear"></div>
                <div class="col_half">
                    <label for="register-form-username">姓(Last Name):</label>
                    <input type="text" id="lastname" name="lastname" value="" class="form-control" />
                </div>
                <div class="col_half col_last">
                    <label for="register-form-phone">名(First Name):</label>
                    <input type="text" id="firstname" name="firstname" value="" class="form-control" />
                </div>
                <div class="clear"></div>
                <div class="col_half">
                    <label for="rpassword">密碼</label>
                    <input type="password" id="rpassword" name="password" value="" class="sm-form-control">
                </div>
                <div class="col_half col_last">
                    <label for="rpassword2">重覆密碼</label>
                    <input type="password" id="rpassword2" name="password2" value="" class="sm-form-control">
                </div>
                <div class="clear"></div>
                <div class="col_full nobottommargin">
                    <button class="button button-3d button-black nomargin" id="register-form-submit" name="register-form-submit" value="register" type="submit">註冊</button>
                    <span id="rform-messages"></span>
                </div>
            </form>
        </div>
    </div>
</template>
<template name="login3">
    <div class="col_one_third nobottommargin">
        <div class="well well-lg nobottommargin">
            <form id="login-form" name="login-form" class="nobottommargin" action="#" method="post">
                <h3>Account Login</h3>
                <div class="col_full">
                    <label for="lusername">帳號/工號</label>
                    <input placeholder="請輸入電子信箱或工號" type="text" id="lusername" name="username" value="" class="sm-form-control">
                </div>
                <div class="col_full">
                    <label for="lpassword">密碼</label>
                    <input type="password" id="lpassword" name="password" value="" class="sm-form-control">
                </div>
                <div class="col_full nobottommargin">
                    <button class="button button-3d nomargin" id="login-form-submit" name="login-form-submit" value="login">登入</button>
                    <a href="#" class="fright">Forgot Password?</a>
                </div>
            </form>
        </div>
    </div>
    <div class="col_two_third col_last bottommargin-md">
        <h3>還沒有專屬的理財帳號嗎？現在就申請：</h3>
        <p>這邊是下標，看要寫什麼都可以</p>
        <form id="register-form" name="register-form" class="nobottommargin" action="#" method="post">
            <div class="col_half ">
                <label for="remail">*電子信箱(帳號) Email</label>
                <input placeholder="請輸入電子信箱" type="text" id="remail" name="email" value="" class="sm-form-control">
            </div>
            <div class="col_half col_last">
                <label for="rusername">工號</label>
                <input type="text" id="rusername" name="username" value="" class="sm-form-control">
            </div>
            <div class="clear"></div>
            <div class="col_half">
                <label for="register-form-username">姓(Last Name):</label>
                <input type="text" id="chtname" name="chtname" value="" class="form-control" />
            </div>
            <div class="col_half col_last">
                <label for="register-form-phone">名(First Name):</label>
                <input type="text" id="register-form-phone" name="register-form-phone" value="" class="form-control" />
            </div>
            <div class="clear"></div>
            <div class="col_half">
                <label for="rpassword">密碼</label>
                <input type="password" id="rpassword" name="password" value="" class="sm-form-control">
            </div>
            <div class="col_half col_last">
                <label for="rpassword2">重覆密碼</label>
                <input type="password" id="rpassword2" name="password2" value="" class="sm-form-control">
            </div>
            <div class="clear"></div>
            <div class="col_full nobottommargin">
                <button class="button button-3d button-black nomargin" id="register-form-submit" name="register-form-submit" value="register" type="submit">註冊</button>
            </div>
        </form>
    </div>
</template>
<template name="login2">
    <div id="login">
        <form class="login-form">
            <div class="top-cart-items">
                <div class="top-cart-item clearfix">
                    <label for="lusername">帳號</label>
                    <input type="text" id="lusername" name="username" value="" class="sm-form-control">
                </div>
                <div class="top-cart-item clearfix">
                    <label for="lpassword">密碼</label>
                    <input type="password" id="lpassword" name="password" value="" class="sm-form-control">
                </div>
            </div>
            <div id="lform-messages"></div>
            <div class="top-cart-action clearfix">
                <button class="button button-3d button-small nomargin fright" style="background-color: #98b7e7; " type="submit">登入</button>
                <!-- <button class="button button-3d button-small nomargin fright" style="background-color: #98b7e7; margin-right: 10px;">註冊</button> -->
            </div>
        </form>
    </div>
</template>
