<template name="home_slides">
    <style type="text/css">
        .flex-control-thumbs li img {
            height: 60px;
        }
    </style>
    <div class="fslider flex-thumb-grid grid-6" data-speed="400" data-arrows="true" data-thumbs="true" data-easing="easeOutQuad">
        <div class="flexslider">
            <div class="slider-wrap">
                {{#each homepics}}
                <div class="slide" data-thumb="{{url}}">
                    <a href="#">
                        <img src="{{url}}" alt="">
                        <div class="overlay">
                            <div class="text-overlay">
                                <div class="text-overlay-title">
                                    <h3>{{title1}}</h3>
                                </div>
                                <div class="text-overlay-meta">
                                    <span>{{title2}}</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</template>
