<template name="home">
    <style type="text/css">
        .flex-control-nav .flex-control-thumbs{
            margin-top: 20px;
        }
        a{
            /*text-decoration: underline !important;*/
        }
        .my-underline{
            border-bottom: 1px #9C27B0 solid;
            height: 24px;
            width: 70px;
            font-size: 17px;
        }

    </style>
    <div class="container clearfix">
        {{> left_menu}}
        <div class="postcontent nobottommargin col_last">
            {{> home_content }}
            <div class="clear"></div>
        </div>
    </div>
    <BR>
    <BR>
    <BR>
    <BR>
    <div class="clear"></div>
    <div class="section header-stick nobottommargin clearfix" style="padding: 20px 0;">
        <div>
            <div class="container clearfix">
                <span class="label label-danger bnews-title">Breaking News:</span>
                <div class="fslider bnews-slider nobottommargin" data-speed="800" data-pause="6000" data-arrows="false" data-pagi="false">
                    <div class="flexslider">
                        <div class="slider-wrap">
                            <div class="slide"><a href="#"><strong>Russia hits back, says US acts like a 'bad surgeon'..</strong></a></div>
                            <div class="slide"><a href="#"><strong>'Sulking' Narayan Rane needs consolation: Uddhav reacts to Cong leader's attack..</strong></a></div>
                            <div class="slide"><a href="#"><strong>Rane needs consolation. I pray to God that he gets mental peace in a political party..</strong></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
