<template name="account">
<style type="text/css">
    #content {
      overflow : visible;
    }
    #e_account1 .jsgrid-header-row > .jsgrid-header-cell {
        background: #d9534f;
        border: 0;
        color: white;
    }
    #e_account2 .jsgrid-header-row > .jsgrid-header-cell {
        background: #5cb85c;
        border: 0;
        color: white;
    }
    #e_account3 .jsgrid-header-row > .jsgrid-header-cell {
        background: #428bca;
        border: 0;
        color: white;
    }
</style>
    <h3><span id="title"></span> 會計科目</h3>
    <div style="font-size: 15px;">直接拖曳可以調整順序</div>
    <div style="margin-top: 10px; ">
        <div class="col_one_third nobottommargin">
            <div class="fancy-title title-border">
                <h4>會計科目1 <span id="a1"></span></h4>
                <a style="float: right; margin-top: 10%;" href="#" class="right btn btn-danger btn-new1">新增1</a>
            </div>
            <br>
            <div id="e_account1"></div>
        </div>
        <div id="p2" class="col_one_third col_last nobottommargin">
            <div class="fancy-title title-border">
                <h4>會計科目2：<span id="a2"></span></h4>
                <a style="float: right; margin-top: 10%;" href="#" class="right btn btn-success btn-new2">新增2</a>
            </div>
            <br>
            <div id="e_account2"></div>
        </div>
        <div id="p3" class="col_last nobottommargin" style="float: right; margin-top: 5%">
            <div class="fancy-title title-border">
                <h4>科目細項：<span id="a3"></span></h4>
                <a style="float: right; margin-top: 3%;" href="#" class="right btn btn-primary btn-new3">新增3</a>
            </div>
            <br>
            <div id="e_account3"></div>
        </div>
    </div>
</template>
