<template name="applyservice">
    <style type="text/css">
    #content {
      overflow : visible;
    }
    .my-form {
        margin-bottom: 10px !important;
    }

    .modal-dialog,
    .modal-content {
        /* 80% of window height */
        /*min-height: 85%;*/
        height: 95%
    }

    .modal-body {
        /* 100% = dialog height, 120px = header + footer */
        max-height: calc(100% - 120px);
        /*max-height: calc(100% - 60px);*/
        height: 85%;
        overflow-y: scroll;
    }

    .width-title {
        width: 25%;
    }

    .bg-grey {
        background-color: #eeeeee;
        /*width: 15%;*/
    }

    .modal-body td {
        padding: 10px;
        vertical-align: top;
    }
    </style>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="">
        <div class="modal-dialog" role="document" style="width: 85%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">新增售後服務 <span id="modal2-link"></span></h4>
                </div>
                <div class="modal-body" style="">
                    <div class="col_one_fourth my-form">
                        <form class="form-modal2">
                            <div class="col_one_third my-form">
                                <label for="">客戶姓名</label>
                            </div>
                            <div class="col_two_third col_last my-form">
                                <span id="modal-name_cht" name="name_cht"></span>
                            </div>
                            <div class="clear"></div>
                            <div class="col_one_third my-form">
                                <label for="">產品名</label>
                            </div>
                            <div class="col_two_third col_last my-form">
                                <span id="modal-product"></span>
                            </div>
                            <div class="clear"></div>
                            <div class="col_one_third my-form">
                                <label for="">服務項目</label>
                            </div>
                            <div class="col_two_third col_last my-form">
                                <input id="as_pid" type="hidden" name="portfolio_id">
                                <select id="as_template" name="as_template" class="sm-form-control as_template">
                                    <option value="xxxxxxxxxxxx">-- 請選擇 --</option>
                                    <optgroup label="無PDF表單">
                                        {{#each Nopdfform}}
                                        <option value="{{_id}}">{{nopdf}}</option>
                                        {{/each}}
                                    </optgroup>
                                    <optgroup label="VOYA">
                                        <option value="61" data-exurl="https://s3-ap-northeast-1.amazonaws.com/hanbury/subfolder/9ab2dfcc-f0f0-48ee-bf7e-99fc5de6d62a.pdf">1. VOYA- 更改個人資料</option>
                                        <option value="62" data-exurl="https://s3-ap-northeast-1.amazonaws.com/hanbury/subfolder/6e6cec1e-9da5-4e55-8301-bee8ebf13755.pdf">2. VOYA- 更改要保人</option>
                                        <option value="63" data-exurl="https://s3-ap-northeast-1.amazonaws.com/hanbury/subfolder/5386c763-13e8-4f07-a15e-daed35d5f849.pdf">3. VOYA- 更改受益人</option>
                                        <option value="65" data-exurl="https://s3-ap-northeast-1.amazonaws.com/hanbury/subfolder/6a433225-7aac-4486-9f97-a04c5bb40e98.pdf">4. VOYA- VOYA匯款指示</option>
                                    </optgroup>
                                    <optgroup label="Grandtag">
                                        <option value="26" data-exurl="https://s3-ap-northeast-1.amazonaws.com/hanbury/subfolder/bb106567-8084-40e7-8e3e-ab1b1258bcbf.pdf">11. 申請及更改Blueocean帳戶基本資料</option>
                                    </optgroup>
                                    <optgroup label="GT Madison Realty">
                                        <option value="27" data-exurl="https://s3-ap-northeast-1.amazonaws.com/hanbury/subfolder/643db186-6446-4162-a99c-4825bf911743.pdf">21. 更改房產持有人配息帳戶及地址</option>
                                    </optgroup>
                                    <optgroup label="FPI">
                                        <option value="1" data-exurl="https://s3-ap-northeast-1.amazonaws.com/hanbury/subfolder/679c4cd3-1655-4480-aeda-cfde6dafb869.pdf">31. 提款_v1</option>
                                        <!-- <option value="81" data-exurl="">31-1. 提款</option> -->
                                        <!-- <option value="86" data-exurl="">31-2. FPI提款</option> -->
                                        <option value="86" data-exurl="">31-1. 提款_v2</option>
                                        <!-- <option value="87" data-exurl="">31-3. FPI提款繳VOYA</option> -->
                                        <option value="87" data-exurl="">31-2. 提款繳VOYA_v2</option>
                                        <option value="2" data-exurl="https://s3-ap-northeast-1.amazonaws.com/hanbury/subfolder/9163654c-5c2b-43c8-adc7-95d24671dcfe.pdf">32. 滿期解約_v1</option>
                                        <option value="82" data-exurl="">32-1. 滿期解約_v2</option>
                                        <option value="02" data-exurl="https://s3-ap-northeast-1.amazonaws.com/hanbury/subfolder/9163654c-5c2b-43c8-adc7-95d24671dcfe.pdf">33. 提前解約_v1</option>
                                        <option value="83" data-exurl="">33-1. 提前解約_v2</option>
                                        <option value="3" data-exurl="https://s3-ap-northeast-1.amazonaws.com/hanbury/subfolder/0c7d66cd-0899-4b6e-a414-88021dbf6e8d.pdf">33. 更改付款模式- New BSO + Cancel BSO</option>
                                        <option value="4" data-exurl="https://s3-ap-northeast-1.amazonaws.com/hanbury/subfolder/c2e47f87-9f76-4c54-b88c-ebdae01a9362.pdf">34. 更改付款模式- New BSO</option>
                                        <option value="5" data-exurl="https://s3-ap-northeast-1.amazonaws.com/hanbury/subfolder/36991f5a-1f1b-45bf-8133-54d743f1389d.pdf">35. 更改付款模式- Cancel BSO</option>
                                        <option value="6" data-exurl="https://s3-ap-northeast-1.amazonaws.com/hanbury/subfolder/bc427dc4-e737-430f-bb42-7b73541dba69.pdf">36. 更改付款模式- NEW Update DCA_v1</option>
                                        <option value="84" data-exurl="">36-1. 更改付款模式- NEW Update DCA_v2</option>
                                        <option value="7" data-exurl="https://s3-ap-northeast-1.amazonaws.com/hanbury/subfolder/7ed2c4df-1b41-43cb-91cf-166b4ced3c32.pdf">37. 更改付款模式- Update DCA + Cancel BSO</option>
                                        <option value="8" data-exurl="https://s3-ap-northeast-1.amazonaws.com/hanbury/subfolder/c5f00180-5028-4d84-b33d-0cde12fa0d57.pdf">38. 申請BIL</option>
                                        <option value="9" data-exurl="https://s3-ap-northeast-1.amazonaws.com/hanbury/subfolder/5915f189-6cbe-4e0e-9685-eba975938cfd.pdf">39. 申請復效- Reinstatement + BSO</option>
                                        <option value="10" data-exurl="https://s3-ap-northeast-1.amazonaws.com/hanbury/subfolder/f2c95092-8966-4336-ab65-b4be4bdb3504.pdf">40. 申請復效- Reinstatement + DCA</option>
                                        <option value="11" data-exurl="https://s3-ap-northeast-1.amazonaws.com/hanbury/subfolder/6e87d5ce-8e03-42b6-9396-94aa937d1bf8.pdf">41. 申請復效- Reinstatement + BIL</option>
                                        <option value="12" data-exurl="https://s3-ap-northeast-1.amazonaws.com/hanbury/subfolder/5483ea88-1785-4d7f-9541-5f4d069559d3.pdf">42. 申請復效- Reinstatement + DCA + BIL</option>
                                        <option value="13" data-exurl="https://s3-ap-northeast-1.amazonaws.com/hanbury/subfolder/6fa79ebc-8b15-4d47-959b-5705853bbd93.pdf">43. 申請復效- Reinstatement + DCA + BIL + Cancel BSO</option>
                                        <option value="14" data-exurl="https://s3-ap-northeast-1.amazonaws.com/hanbury/subfolder/6db8f079-b6b3-4214-8e0d-dd3de03c0475.pdf">44. 申請暫停供款- Paid up + Cancel BSO</option>
                                        <option value="15" data-exurl="https://s3-ap-northeast-1.amazonaws.com/hanbury/subfolder/65116493-76b2-49b7-a35a-d5d5f19b9bdf.pdf">45. 申請暫停供款- Paid up</option>
                                        <option value="16" data-exurl="https://s3-ap-northeast-1.amazonaws.com/hanbury/subfolder/bfc35df8-de18-47ad-bfa2-7e3b400d0a6f.pdf">46. 申請保單假期 - Premuim Holiday + Cancel BSO</option>
                                        <option value="17" data-exurl="">47. 申請保單假期 - Premuim Holiday</option>
                                        <option value="18" data-exurl="https://s3-ap-northeast-1.amazonaws.com/hanbury/subfolder/636f7d56-08bc-411d-bf0b-a35719fb9e5e.pdf">48. 降低供款 - 降供 + DCA</option>
                                        <option value="19" data-exurl="https://s3-ap-northeast-1.amazonaws.com/hanbury/subfolder/fcb64e7e-d45d-4765-8d3e-231cb178661b.pdf">49. 降低供款 - 降供 + DCA + Cancel BSO</option>
                                        <option value="20" data-exurl="https://s3-ap-northeast-1.amazonaws.com/hanbury/subfolder/8c95aa66-18b0-4398-a545-963b447d3881.pdf">50. 降低供款 - 降供 + BSO + Cancel BSO</option>
                                        <option value="21" data-exurl="https://s3-ap-northeast-1.amazonaws.com/hanbury/subfolder/be4a223d-4c02-498b-9f48-49c27edd7613.pdf">51. 降低供款 - 降供 + Cancel BSO</option>
                                        <option value="22" data-exurl="">52. 降低供款 - 降供 + BSO</option>
                                        <option value="23" data-exurl="">53. 降低供款 - 降供</option>
                                        <option value="24" data-exurl="">54. 變更通訊戶籍地址</option>
                                        <option value="88" data-exurl="">54-1. 更新聯絡資料</option>
                                        <option value="25" data-exurl="https://s3-ap-northeast-1.amazonaws.com/hanbury/subfolder/f668369c-6b74-47b1-8532-a6d607c5bcff.pdf">55. 更改手機號碼</option>
                                        <option value="28" data-exurl="https://s3-ap-northeast-1.amazonaws.com/hanbury/subfolder/4a0a9c15-2e9d-4599-ad9c-e94bb748493b.pdf">56. 更改EMAIL</option>
                                        <option value="29" data-exurl="">57. 取消OMA</option>
                                        <option value="30" data-exurl="">58. 保單遺失</option>
                                        <option value="31" data-exurl="https://s3-ap-northeast-1.amazonaws.com/hanbury/subfolder/bae6dd2e-9cc9-4b8f-a30f-57d3167c912c.pdf">59. 設定OMA</option>
                                        <option value="32" data-exurl="">60. 更改姓名</option>
                                        <option value="33" data-exurl="https://s3-ap-northeast-1.amazonaws.com/hanbury/subfolder/289f9f42-b3df-44b1-b27c-1d4c01933c07.pdf">61. 更改簽名樣式_v1</option>
                                        <option value="89" data-exurl="">61-1. 更改簽名樣式_v2</option>
                                        <option value="34" data-exurl="https://s3-ap-northeast-1.amazonaws.com/hanbury/subfolder/792f06a6-308d-4b5e-8538-d090affec005.pdf">62. 保單轉讓</option>
                                        <option value="35" data-exurl="https://s3-ap-northeast-1.amazonaws.com/hanbury/subfolder/db1808c5-bee9-4431-bcc4-738751ca1b7a.pdf">63. 變更供款週期 + 匯款指示(TT)</option>
                                        <option value="36" data-exurl="https://s3-ap-northeast-1.amazonaws.com/hanbury/subfolder/82d1628f-d44f-4c52-8325-5fd530419b9f.pdf">64. 變更供款週期 + 匯款指示(TT) + Cancel BSO</option>
                                        <option value="37" data-exurl="">65. 變更供款週期</option>
                                        <option value="38" data-exurl="https://s3-ap-northeast-1.amazonaws.com/hanbury/subfolder/fd7d6956-8fc4-42f6-ac1e-f7c33011f991.pdf">66. 變更供款週期 + BSO</option>
                                        <option value="39" data-exurl="">67. 變更供款週期 + BSO + Cancel BSO</option>
                                        <option value="40" data-exurl="https://s3-ap-northeast-1.amazonaws.com/hanbury/subfolder/16307c00-83fe-4c4b-bd54-3da235e25fcc.pdf">68. 變更供款週期 + DCA</option>
                                        <option value="41" data-exurl="https://s3-ap-northeast-1.amazonaws.com/hanbury/subfolder/19dd5da4-870b-4e64-a37a-3123649003ef.pdf">69. 變更供款週期 + DCA + Cancel BSO</option>
                                        <option value="42" data-exurl="https://s3-ap-northeast-1.amazonaws.com/hanbury/subfolder/160e1daf-3f4f-4424-8480-888c5eb8cdef.pdf">70. 降低供款金額與週期</option>
                                        <option value="43" data-exurl="https://s3-ap-northeast-1.amazonaws.com/hanbury/subfolder/340a62ea-0b87-4f18-bf41-16370ea0d409.pdf">71. 降低供款金額與週期 + DCA + Cancel BSO</option>
                                        <option value="44" data-exurl="https://s3-ap-northeast-1.amazonaws.com/hanbury/subfolder/e8fddbf1-9c98-4e34-952d-381eb435bf13.pdf">72. 降低供款金額與週期 + DCA</option>
                                        <option value="45" data-exurl="https://s3-ap-northeast-1.amazonaws.com/hanbury/subfolder/e0f2235a-1f9d-4c65-b719-79f7b132ea60.pdf">73. 降低供款金額與週期 + BSO+Cancel BSO</option>
                                        <option value="46" data-exurl="https://s3-ap-northeast-1.amazonaws.com/hanbury/subfolder/23bc3ef9-3749-420b-b181-f0824beecaa5.pdf">74. 降低供款金額與週期 + BSO</option>
                                        <option value="47" data-exurl="https://s3-ap-northeast-1.amazonaws.com/hanbury/subfolder/7782f4b8-128b-463c-a6e3-ee5e4cce1ad4.pdf">75. 降低供款金額與週期 + 匯款指示(TT)</option>
                                        <option value="48" data-exurl="">76. 降低供款金額與週期 + 匯款指示(TT) + Cancel BSO</option>
                                        <option value="49" data-exurl="">77. 變更供款方式 + 匯款指示(TT) + Cancel BSO</option>
                                        <option value="50" data-exurl="">78. 變更供款方式 + 匯款指示(TT)</option>
                                        <option value="51" data-exurl="https://s3-ap-northeast-1.amazonaws.com/hanbury/subfolder/8ac68ef0-ced6-4c7c-be42-022e6ebf6e00.pdf">79. 變更供款方式 + DCA</option>
                                        <option value="52" data-exurl="https://s3-ap-northeast-1.amazonaws.com/hanbury/subfolder/679cbec5-437e-417f-8784-599e87d90e3b.pdf">80. 變更供款方式 + DCA+Cancel BSO</option>
                                        <option value="53" data-exurl="https://s3-ap-northeast-1.amazonaws.com/hanbury/subfolder/6945a3d1-6d3f-4011-9d8d-093f67ddd064.pdf">81. 變更供款方式 + BSO</option>
                                        <option value="54" data-exurl="https://s3-ap-northeast-1.amazonaws.com/hanbury/subfolder/62305e8a-f9f8-43d7-8604-9adb19a595bf.pdf">82. 變更供款方式 + BSO+ Cancel BSO</option>
                                        <option value="55" data-exurl="https://s3-ap-northeast-1.amazonaws.com/hanbury/subfolder/6e785d93-00cf-4a2b-94bb-c46652c7ffb3.pdf">83. 變更供款方式 + Cancel BSO</option>
                                        <option value="56" data-exurl="">84. 變更供款方式</option>
                                        <option value="57" data-exurl="https://s3-ap-northeast-1.amazonaws.com/hanbury/subfolder/8882ce41-6212-4aa6-8250-236137550dee.pdf">85. 授權第三方付款人支付-銀行帳戶</option>
                                        <option value="58" data-exurl="https://s3-ap-northeast-1.amazonaws.com/hanbury/subfolder/5582ac33-87b2-41e1-a7cf-31d949f002a8.pdf">86. 授權第三方付款人支付-信用卡</option>
                                        <option value="59" data-exurl="https://s3-ap-northeast-1.amazonaws.com/hanbury/subfolder/9917128b-f836-4e27-ac80-3e4d0fb969d2.pdf">87. 增加供款-Permier_v1</option>
                                        <option value="68" data-exurl="">87-1. 增加供款-Permier(未超過保額)</option>
                                        <option value="70" data-exurl="">87-2. 增加供款-Permier (已超過保額)</option>
                                        <option value="60" data-exurl="https://s3-ap-northeast-1.amazonaws.com/hanbury/subfolder/b27c7e0a-613b-4065-86af-f710c26dc082.pdf">88. 增加供款-Permier Ultra_v1</option>
                                        <option value="69" data-exurl="">88-1. 增加供款-Permier Ultra(未超過保額)</option>
                                        <option value="71" data-exurl="">88-2. 增加供款-Permier Ultra(已超過保額)</option>
                                        <option value="64" data-exurl="https://s3-ap-northeast-1.amazonaws.com/hanbury/subfolder/be34532c-2351-43dc-bdf9-f40ca10a4329.pdf">89. 匯款指示</option>
                                        <option value="66" data-exurl="https://s3-ap-northeast-1.amazonaws.com/hanbury/subfolder/9f7589f6-384a-46cd-ada2-d43b8847ab71.pdf">90. 委任第三方受益人_v1</option>
                                        <option value="85" data-exurl="">90-1. 委任第三方受益人_v2</option>
                                        <option value="67" data-exurl="https://s3-ap-northeast-1.amazonaws.com/hanbury/subfolder/e3da97c4-8c9b-4ae6-baf3-f0b37a8a77c4.pdf">91. 變更服務代表</option>
                                        <option value="90" data-exurl="">92. 恢復供款</option>
                                    </optgroup>
                                </select>
                            </div>
                            <div class="clear"></div>
                            <div class="col_one_third my-form">
                                <label for="">英文名字</label>
                            </div>
                            <div class="col_two_third col_last my-form">
                                <input type="text" id="modal-name_eng" placeholder="" name="name_eng" value="" class="sm-form-control">
                            </div>
                            <div class="col_one_third my-form">
                                <label for="">聯絡電話</label>
                            </div>
                            <div class="col_two_third col_last my-form">
                                <input type="text" id="modal-contactnum" placeholder="" name="contactnum" value="" class="sm-form-control">
                            </div>
                            <div class="col_one_third my-form">
                                <label for="">電子信箱</label>
                            </div>
                            <div class="col_two_third col_last my-form">
                                <input type="text" id="modal-email" placeholder="" name="email" value="" class="sm-form-control">
                            </div>
                            <div class="col_one_third my-form">
                                <label for="">計劃號碼</label>
                            </div>
                            <div class="col_two_third col_last my-form">
                                <input type="text" id="modal-account_num" placeholder="" name="account_num" value="" class="sm-form-control">
                            </div>
                            <div class="col_one_third my-form">
                                <label for="">保單號碼</label>
                            </div>
                            <div class="col_two_third col_last my-form">
                                <input type="text" id="modal-account_num2" placeholder="" name="account_num2" value="" class="sm-form-control">
                            </div>
                            <div class="col_one_third my-form">
                                <label for="">聯絡地址</label>
                            </div>
                            <div class="col_two_third col_last my-form">
                                <input type="text" id="modal-addr1_eng" placeholder="" name="addr1_eng" value="" class="sm-form-control">
                            </div>
                            <div class="col_one_third my-form">
                                <label for="">計劃名稱</label>
                            </div>
                            <div class="col_two_third col_last my-form">
                                <input type="text" id="modal-insertedBy" placeholder="" name="insertedBy" value="" class="sm-form-control">
                            </div>
                            <div class="col_one_third my-form">
                                <label for="">HSBC姓名</label>
                            </div>
                            <div class="col_two_third col_last my-form">
                                <input type="text" id="modal-hsbc_account_name" placeholder="" name="hsbc_account_name" value="" class="sm-form-control">
                            </div>
                            <div class="col_one_third my-form">
                                <label for="">HSBC號碼</label>
                            </div>
                            <div class="col_two_third col_last my-form">
                                <input type="text" id="modal-hsbc_account_num" placeholder="" name="hsbc_account_num" value="" class="sm-form-control">
                            </div>
                            <div class="col_one_third my-form">
                                <label for="">姓</label>
                            </div>
                            <div class="col_two_third col_last my-form">
                                <input type="text" id="modal-last_name" placeholder="" name="last_name" value="" class="sm-form-control">
                            </div>
                            <div class="col_one_third my-form">
                                <label for="">名</label>
                            </div>
                            <div class="col_two_third col_last my-form">
                                <input type="text" id="modal-first_name" placeholder="" name="first_name" value="" class="sm-form-control">
                            </div>
                            <div class="col_one_third my-form">
                                <label for="">提取款額</label>
                            </div>
                            <div class="col_two_third col_last my-form">
                                <input type="text" id="modal-withdrawlamount" placeholder="" name="withdrawlamount" value='' class="sm-form-control">
                            </div>
                            <div class="col_one_third my-form">
                                <label for="">退保提款原因</label>
                            </div>
                            <div class="col_two_third col_last my-form">
                                <input type="text" id="modal-with_reason" placeholder="" name="with_reason" value='"Personal use"' class="sm-form-control">
                            </div>
                            <div class="col_one_third my-form">
                                <label for="">信用卡銀行</label>
                            </div>
                            <div class="col_two_third col_last my-form">
                                <input type="text" id="modal-creditcard_bank" placeholder="" name="creditcard_bank" value="" class="sm-form-control">
                            </div>
                            <div class="col_one_third my-form">
                                <label for="">發卡銀行國家</label>
                            </div>
                            <div class="col_two_third col_last my-form">
                                <input type="text" id="modal-creditcard_bankname" placeholder="" name="creditcard_bankname" value="" class="sm-form-control">
                            </div>
                            <div class="col_one_third my-form">
                                <label for="">信用卡號碼</label>
                            </div>
                            <div class="col_two_third col_last my-form">
                                <input type="text" id="modal-creditcard_num" placeholder="" name="creditcard_num" value="" class="sm-form-control">
                            </div>
                            <div class="col_one_third my-form">
                                <label for="">信用卡效期(月)</label>
                            </div>
                            <div class="col_two_third col_last my-form">
                                <input type="text" id="modal-creditcard_term_month" placeholder="" name="creditcard_term_month" value="" class="sm-form-control">
                            </div>
                            <div class="col_one_third my-form">
                                <label for="">信用卡效期(年)</label>
                            </div>
                            <div class="col_two_third col_last my-form">
                                <input type="text" id="modal-creditcard_term_year" placeholder="" name="creditcard_term_year" value="" class="sm-form-control">
                            </div>
                            <div class="col_one_third my-form">
                                <label for="">現時定額供款</label>
                            </div>
                            <div class="col_two_third col_last my-form">
                                <input type="text" id="modal-fpi_now_same_payment" placeholder="" name="fpi_now_same_payment" value="" class="sm-form-control">
                            </div>
                            <div class="col_one_third" style="margin-bottom: 0px;">
                                <label for="">現時定額供款(W)</label>
                            </div>
                            <div class="col_two_third col_last my-form">
                                <input type="text" id="modal-fpi_now_same_payment_words" placeholder="" name="fpi_now_same_payment_words" value="" class="sm-form-control">
                            </div>
                            <div class="col_one_third my-form">
                                <label for="">附加資料</label>
                            </div>
                            <div class="col_two_third col_last my-form">
                                <input type="text" id="modal-add_imfo" placeholder="" name="add_imfo" value="" class="sm-form-control">
                            </div>
                            <div class="col_one_third my-form">
                                <label for="">預設勾選</label>
                            </div>
                            <div class="col_two_third col_last my-form">
                                <input type="text" id="modal-check" placeholder="" name="check" value="V" class="sm-form-control">
                            </div>
                            <div class="col_one_third my-form">
                                <label for="">自訂一</label>
                            </div>
                            <div class="col_two_third col_last my-form">
                                <input type="text" id="modal-custom_1" placeholder="" name="custom_1" value="custom_1" class="sm-form-control">
                            </div>
                            <div class="col_one_third my-form">
                                <label for="">自訂二</label>
                            </div>
                            <div class="col_two_third col_last my-form">
                                <input type="text" id="modal-custom_2" placeholder="" name="custom_2" value="custom_2" class="sm-form-control">
                            </div>
                            <div class="col_one_third my-form">
                                <label for="">自訂三</label>
                            </div>
                            <div class="col_two_third col_last my-form">
                                <input type="text" id="modal-custom_3" placeholder="" name="custom_3" value="custom_3" class="sm-form-control">
                            </div>
                            <div class="col_one_third my-form">
                                <label for="">自訂四</label>
                            </div>
                            <div class="col_two_third col_last my-form">
                                <input type="text" id="modal-custom_4" placeholder="" name="custom_4" value="custom_4" class="sm-form-control">
                            </div>
                            <div class="col_one_third my-form">
                                <label for="">自訂五</label>
                            </div>
                            <div class="col_two_third col_last my-form">
                                <input type="text" id="modal-custom_5" placeholder="" name="custom_5" value="custom_5" class="sm-form-control">
                            </div>
                            <div class="col_one_third my-form">
                                <label for="">自訂六</label>
                            </div>
                            <div class="col_two_third col_last my-form">
                                <input type="text" id="modal-custom_6" placeholder="" name="custom_6" value="custom_6" class="sm-form-control">
                            </div>
                            <div class="col_one_third my-form">
                                <label for="">自訂七</label>
                            </div>
                            <div class="col_two_third col_last my-form">
                                <input type="text" id="modal-custom_7" placeholder="" name="custom_7" value="custom_7" class="sm-form-control">
                            </div>
                            <div class="col_one_third my-form">
                                <label for="">自訂八</label>
                            </div>
                            <div class="col_two_third col_last my-form">
                                <input type="text" id="modal-custom_8" placeholder="" name="custom_8" value="custom_8" class="sm-form-control">
                            </div>
                            <div class="col_one_third my-form">
                                <label for="">自訂九</label>
                            </div>
                            <div class="col_two_third col_last my-form">
                                <input type="text" id="modal-custom_9" placeholder="" name="custom_9" value="custom_9" class="sm-form-control">
                            </div>
                            <div class="col_one_third my-form">
                                <label for="">自訂十</label>
                            </div>
                            <div class="col_two_third col_last my-form">
                                <input type="text" id="modal-custom_10" placeholder="" name="custom_10" value="custom_10" class="sm-form-control">
                            </div>
                            <div class="col_one_third my-form">
                                <label for="">自訂十一</label>
                            </div>
                            <div class="col_two_third col_last my-form">
                                <input type="text" id="modal-custom_11" placeholder="" name="custom_11" value="custom_11" class="sm-form-control">
                            </div>
                            <div class="col_one_third my-form">
                                <label for="">自訂十二</label>
                            </div>
                            <div class="col_two_third col_last my-form">
                                <input type="text" id="modal-custom_12" placeholder="" name="custom_12" value="custom_12" class="sm-form-control">
                            </div>
                            <div class="col_one_third my-form">
                                <label for="">自訂十三</label>
                            </div>
                            <div class="col_two_third col_last my-form">
                                <input type="text" id="modal-custom_13" placeholder="" name="custom_13" value="custom_13" class="sm-form-control">
                            </div>
                            <div class="col_one_third my-form">
                                <label for="">自訂十四</label>
                            </div>
                            <div class="col_two_third col_last my-form">
                                <input type="text" id="modal-custom_14" placeholder="" name="custom_14" value="custom_14" class="sm-form-control">
                            </div>
                            <div class="col_one_third my-form">
                                <label for="">自訂十五</label>
                            </div>
                            <div class="col_two_third col_last my-form">
                                <input type="text" id="modal-custom_15" placeholder="" name="custom_15" value="custom_15" class="sm-form-control">
                            </div>
                            <input id="modal-beneficial1_name" type="hidden" name="beneficial1_name">
                            <input id="modal-beneficial1_name2" type="hidden" name="beneficial1_name2">
                            <input id="modal-beneficial1_relationship" type="hidden" name="beneficial1_relationship">
                            <input id="modal-beneficial2_name" type="hidden" name="beneficial2_name">
                            <input id="modal-beneficial3_name" type="hidden" name="beneficial3_name">
                            <input id="modal-beneficial4_name" type="hidden" name="beneficial4_name">
                            <input id="modal-beneficial1_percent" type="hidden" name="beneficial1_percent">
                            <input id="modal-beneficial2_percent" type="hidden" name="beneficial2_percent">
                            <input id="modal-beneficial3_percent" type="hidden" name="beneficial3_percent">
                            <input id="modal-beneficial4_percent" type="hidden" name="beneficial4_percent">
                            <input id="modal-identify" type="hidden" name="identify"><!-- 身分證字號 -->
                            <input id="modal-birthday" type="hidden" name="birthday"><!-- 生日 -->
                            <input id="modal-policy_currency_type" type="hidden" name="policy_currency_type"><!-- 保單幣別 -->
                            <input id="modal-paymethod_fpi" type="hidden" name="paymethod_fpi"><!-- 供款方式 -->
                            <input id="modal-payperiod_fpi" type="hidden" name="payperiod_fpi"><!-- 供款週期 -->
                            <input id="modal-trust_lawyer" type="hidden" name="trust_lawyer"><!-- 信託律師 -->
                            <input id="modal-trust_name" type="hidden" name="trust_name"><!-- 信託名稱 -->
                            <input id="modal-trust_trustee" type="hidden" name="trust_trustee"><!-- Trustee -->
                            <input id="modal-trust_ssnitin" type="hidden" name="trust_ssnitin"><!-- SSN/ITIN -->
                            <input id="modal-trust_grantor" type="hidden" name="trust_grantor"><!-- Grantor -->
                            <input id="modal-payment_bank" type="hidden" name="payment_bank" value="BANK OF TAIWAN ,LIMING BRANCH"><!-- 付款銀行 -->
                            <input id="modal-payment_bank_addr" type="hidden" name="payment_bank_addr" value="No.607 Ta-Yeh Rd. Taichung City 408,Taiwan(R.O.C)"><!-- 付款銀行地址 -->

                            <input id="modal-wdba_bankname" type="hidden" name="wdba_bankname"><!-- 銀行名稱 -->
                            <input id="modal-wdba_bankaddr" type="hidden" name="wdba_bankaddr"><!-- 銀行地址 -->
                            <input id="modal-wdba_holdernum" type="hidden" name="wdba_holdernum"><!-- 戶口號碼 -->
                            <input id="modal-wdba_swift_bic" type="hidden" name="wdba_swift_bic"><!-- SWIFT / BIC 編碼 -->

                            <input id="modal-beneficiary_bank_location" type="hidden" name="beneficiary_bank_location"><!--  -->
                            <input id="modal-beneficiary_bank_name" type="hidden" name="beneficiary_bank_name"><!--  -->
                            <input id="modal-beneficiary_bank_address" type="hidden" name="beneficiary_bank_address"><!--  -->
                            <input id="modal-swift_code" type="hidden" name="swift_code"><!--  -->
                            <input id="modal-beneficiary_account_number" type="hidden" name="beneficiary_account_number"><!--  -->
                            <input id="modal-beneficiary_name" type="hidden" name="beneficiary_name"><!--  -->
                            <input id="modal-insertedBy_CE" type="hidden" name="insertedBy_CE"><!--  -->
                            <input id="modal-policy_firstperson" type="hidden" name="policy_firstperson"><!-- 第一(或唯一)保單持有人 -->
                            <input id="modal-policy_secondperson" type="hidden" name="policy_secondperson"><!-- 第二保單持有人 -->
                            <input id="modal-apply_passport" type="hidden" name="apply_passport"><!-- 護照號碼 -->
                            <input id="modal-apply_telephone" type="hidden" name="apply_telephone"><!-- 連絡電話 -->
                            <input id="modal-apply_cellphone" type="hidden" name="apply_cellphone"><!-- 手機號碼 -->
                            <input id="modal-agent_id" type="hidden" name="agent_id"><!-- 手機號碼 -->
                            <input id="modal-creditcard_name" type="hidden" name="creditcard_name"><!-- 手機號碼 -->
                            <input id="modal-creditcard_addr" type="hidden" name="creditcard_addr"><!-- 手機號碼 -->
                            <button type="button" class="btn-myupdate btn fright">更新</button>
                        </form>
                    </div>
                    <div class="col_three_fourth my-form col_last">
                        <iframe id="as_template_iframe" src="" width="100%" height="100%"></iframe>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-mycancel btn btn-default" data-dismiss="modal">取消</button>
                    <!-- <a type="button" class="btn-example btn btn-info" id="ex-link">範例</a> -->
                    <span id="ex-link"></span>
                    <button type="button" data-dismiss="modal" class="btn-print btn btn-warning">列印</button>
                    <button type="button" data-dismiss="modal" class="btn-saveprint btn btn-success">新申請+列印</button>
                    <button type="button" data-dismiss="modal" class="btn-save btn btn-primary">新申請</button>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    <h3>案件申請</h3>
    <style type="text/css">
    .my-form {
        margin-bottom: 10px !important;
    }

    .my-name-href {
        background-color: beige;
        font-size: 18px;
    }

    .my-name-href a {
        margin-left: 5px;
    }

    .my-name-href a.my-active {
        text-decoration: underline !important;
    }
    </style>
    <!-- <div class="col_three_fifth bottommargin-lg"> -->
    <div class="col_four_fifth nobottommargin">
        <form class="form-modal1">
            <!--  <div class="col_one_third my-form">
                <label for="template-contactform-phone">項目狀況</label>
            </div>
            <div class="col_two_third col_last my-form">
                <ul class="nav nav-pills">
                    <li class="active"><a class="nowphase_btn" data-id="0" href="#">全部</a></li>
                    <li><a class="nowphase_btn" data-id="1" href="#">申請中</a></li>
                    <li><a class="nowphase_btn" data-id="2" href="#">已生效</a></li>
                    <li><a class="nowphase_btn" data-id="3" href="#">無效</a></li>
                </ul>
            </div>
            <div class="clear"></div> -->
            <div class="col_one_third my-form">
                <label for="template-contactform-phone">Search</label>
            </div>
            <div class="col_two_third my-form col_last">
                <input type="text" id="search_text" name="" value="" class="sm-form-control" oninput="Template.clientslist.loadPortfolio()" onpropertychange="Template.clientslist.loadPortfolio()">
            </div>
            <div class="clear"></div>
            <div class="col_one_third my-form">
                <label for="productl1">產品類別1</label>
            </div>
            <div class="col_two_third col_last my-form">
                <select id="eproduct1" name="product1_id" class="product sm-form-control">
                    <option value="">-- 全選 --</option>
                    {{#each Product1}}
                    <option value="{{_id}}">{{value}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="clear"></div>
            <div class="col_one_third my-form">
                <label for="productl2">產品類別2</label>
            </div>
            <div class="col_two_third col_last my-form">
                <select id="eproduct2" name="product2_id" class="product sm-form-control">
                    <option value="">-- 無 --</option>
                </select>
            </div>
            <div class="clear"></div>
            <div class="col_one_third my-form">
                <label for="productl3">產品類別3</label>
            </div>
            <div class="col_two_third col_last my-form">
                <select id="eproduct3" name="product3_id" class="product sm-form-control">
                    <option value="">-- 無 --</option>
                </select>
            </div>
            <div class="clear"></div>
            <div class="col_one_third my-form">
                <label for="productl4">產品類別4</label>
            </div>
            <div class="col_two_third col_last my-form">
                <select id="eproduct4" name="product4_id" class="product sm-form-control">
                    <option value="">-- 無 --</option>
                </select>
            </div>
            <div class="clear"></div>
            <div class="col_one_third my-form">
                <label for="provider">供應商</label>
            </div>
            <div class="col_two_third col_last my-form">
                <select id="eprovider" name="provider_id" class="sm-form-control product">
                    <option value="">-- 全選 --</option>
                    {{#each Provider}}
                    <option value="{{_id}}">{{name_cht}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="clear"></div>
            <div class="col_one_third my-form">
                <label for="template-contactform-phone">Agent</label>
            </div>
            <div class="col_two_third col_last my-form">
                <select id="product" name="agent_id" class="sm-form-control product">
                    <option value="">-- 全選 --</option>
                    {{#each Agents}}
                    <option value="{{_id}}">{{name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="clear"></div>
            <div class="col_one_third my-form">
                <label for="template-contactform-phone">版型</label>
            </div>
            <div class="col_two_third col_last my-form">
                <select id="template_id" name="template_id" class="sm-form-control product">
                    <option value="">-- 全選 --</option>
                    {{#each PT}}
                    <option value="{{id}}">{{value}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="clear"></div>
        </form>
        <div class="clear"></div>
    </div>
    <!-- <div class="col_two_fifth bottommargin-lg col_last"> -->
    <div class="col_one_fifth nobottommargin col_last">
    </div>
    <div class="clear"></div>
    <div class="my-form fleft" style="width:100px">
        <label for="template-contactform-phone">客戶</label>
    </div>
    <div class="fleft" style="width: 760px">
        <div class="fleft my-form my-name-href " style="max-width:640px; padding-left: 5px;padding-right: 10px;">
            <a href="#" class="my-initial my-active">全部</a>
            <a href="#" class="my-initial">A</a>
            <a href="#" class="my-initial">B</a>
            <a href="#" class="my-initial">C</a>
            <a href="#" class="my-initial">D</a>
            <a href="#" class="my-initial">E</a>
            <a href="#" class="my-initial">F</a>
            <a href="#" class="my-initial">G</a>
            <a href="#" class="my-initial">H</a>
            <a href="#" class="my-initial">I</a>
            <a href="#" class="my-initial">J</a>
            <a href="#" class="my-initial">K</a>
            <a href="#" class="my-initial">L</a>
            <a href="#" class="my-initial">M</a>
            <a href="#" class="my-initial">N</a>
            <a href="#" class="my-initial">O</a>
            <a href="#" class="my-initial">P</a>
            <a href="#" class="my-initial">Q</a>
            <a href="#" class="my-initial">R</a>
            <a href="#" class="my-initial">S</a>
            <a href="#" class="my-initial">T</a>
            <a href="#" class="my-initial">U</a>
            <a href="#" class="my-initial">V</a>
            <a href="#" class="my-initial">W</a>
            <a href="#" class="my-initial">X</a>
            <a href="#" class="my-initial">Y</a>
            <a href="#" class="my-initial">Z</a>
        </div>
        <button type="submit" id="newclient-form-btn" name="" class="button button-small button-3d nomargin fright" value="submit"><i class="icon-plus"></i> 客戶</button>
    </div>
    <div class="clear"></div>
    <!-- <div class="fancy-title title-border topmargin"> -->
    <div class="fancy-title title-border ">
        <h4>搜尋結果</h4>
    </div>
    <div id="portfolio" style=""></div>
    <div id="e_followservice" style="display: none;"></div>
    <BR><BR>
    <button type="button" class="btn btn-warning btn-new">新增服務項目</button>
    <BR><BR>
    <div id="e_nopdfform"></div>
</template>
