<template name="authority">
    <h3>權限設定</h3>
    <div class="fright">在職狀態
        <select id="sel_filter" name="sel_filter" style="width: 200px;">
            <option value="1">在職員工</option>
            <option value="0">離職員工</option>
            <option value="2">全選</option>
        </select>
    </div>
    <BR>
    <BR>
    <BR>
    <div id="authority"></div>
    <BR>
</template>
