<template name="birthreminder">
    <style type="text/css">
    #content {
      overflow : visible;
    }
    .row-danger > td {
        background-color: #f2dede !important;
    }
    </style>
    <div class="fancy-title title-border ">
        <h3>生日提醒</h3>
    </div>
    <div class="col_two_third">
        <button type="button" class="btn-sendEmails btn btn-success">寄生日提醒給Agent</button>
    </div>
    <div class="col_one_third col_last">
    <div>Agent</div>
        <select id="sel_agent" name="agent" class="sm-form-control">
            <option value="-1">All</option>
            {{#each get_agent}}
            <option value="{{_id}}">{{name}}</option>
            {{/each}}
        </select>
    </div>
    <div id="birthreminder"></div>
    <div id="birthreminder2" style="display:none"></div>
    <BR>
    <div class="aaa">

    </div>
</template>
