<template name="businessgroup">
    <h3><span id="title"></span> 隸屬事業群設定</h3>
    <button type="button" class="btn btn-primary btn-new">新增</button>
    <BR>
    <BR>
    <div id="e_businessgroup"></div>
</template>