<template name="dayoff_set">
<style type="text/css">
    #content {
      overflow : visible;
    }
    #e_dayoff_set_2 .jsgrid-header-row > .jsgrid-header-cell {
        background: #d9534f;
        border: 0;
        color: white;
    }
    #e_dayoff_set_3 .jsgrid-header-row > .jsgrid-header-cell {
        background: #5cb85c;
        border: 0;
        color: white;
    }
    #e_dayoff_set_4 .jsgrid-header-row > .jsgrid-header-cell {
        background: #428bca;
        border: 0;
        color: white;
    }
</style>
    <h3><span id="title"></span> 差勤設定</h3>
    <BR>
    <BR>
    <div class="fancy-title title-border">
        <h4>人員設定</h4>
    </div>
    <div id="e_dayoff_set_2"></div>
    <BR>
    <BR>
    <div class="fancy-title title-border">
        <h4>假別計算公式 </h4>
        <button class="btn btn-success fright btn-new_1"  style="margin-top: 3%">新增</button>
    </div>
    <br>
    <div id="e_dayoff_set_3"></div>
    備註：(底薪+獎金)÷ 工作天數＝全日應扣金額
    <BR>
    <BR>
    <BR>
    <div class="fancy-title title-border">
        <h4>補休</h4>
        <a id="csv_special_dayoff"><button class="btn btn-default fright"  style="margin-top: 3%; margin-bottom: 1%">下載</button></a>
    </div>
    <div id="e_dayoff_set_4"></div>
    <BR>
    <BR> *特休天數
    <BR> 1、工作滿六個月未達一年者 3 日。
    <BR> 2、工作一年以上未滿兩年者 7 日。
    <BR> 3、二年以上未滿三年者 10 日。
    <BR> 4、三年以上未滿五年者 14 日。
    <BR> 5、五年以上未滿十年者 15 日。
    <BR> 6、第十年起是 16 日，逐年增加 1 日，加至 30 日為止。
    <BR> 7、該年度未使用完之天數，可多延6個月期限。
    <BR>
    <BR> *喪假天數
    <BR> 1、父母、養父母、繼父母、配偶喪亡：8天
    <BR> 2、祖父母、外祖父母、子女、配偶之父母、配偶之養父母或繼父母喪亡：6天
    <BR> 3、配偶之祖父母、配偶之外祖父母、兄弟、姐妹喪亡：3天
</template>
