<template name="emailauto">
    <style type="text/css">
    #content {
      overflow : visible;
    }
    .my-form {
        margin-bottom: 10px !important;
    }

    .modal-dialog,
    .modal-content {
        /* 80% of window height */
        min-height: 85%;
    }

    .modal-body {
        /* 100% = dialog height, 120px = header + footer */
        max-height: calc(100% - 120px);
        /*max-height: calc(100% - 60px);*/
        overflow-y: scroll;
    }

    .width-title {
        width: 25%;
    }

    .bg-grey {
        background-color: #eeeeee;
        /*width: 15%;*/
    }

    .modal-body td {
        padding: 10px;
        vertical-align: top;
    }
    </style>
    <!-- Button trigger modal -->
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="">
        <div class="modal-dialog" role="document" style="width: 85%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">選擇收件人</h4>
                </div>
                <div class="modal-body" style="">
                    <div class="col_one_fourth my-form">
                        <form class="form-modal1">
                            <div class="col_one_third my-form">
                                <label for="provider">供應商</label>
                            </div>
                            <div class="col_two_third col_last my-form">
                                <select id="eprovider" name="provider_id" class="sm-form-control product">
                                    <option value="">-- 全選 --</option>
                                    {{#each Provider}}
                                    <option value="{{_id}}">{{name_cht}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="clear"></div>
                            <div class="col_one_third my-form">
                                <label for="productl1">產品類別1</label>
                            </div>
                            <div class="col_two_third col_last my-form">
                                <select id="eproduct1" name="product1_id" class="product sm-form-control">
                                    <option value="">-- 全選 --</option>
                                    {{#each Product1}}
                                    <option value="{{_id}}">{{value}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="clear"></div>
                            <div class="col_one_third my-form">
                                <label for="productl2">產品類別2</label>
                            </div>
                            <div class="col_two_third col_last my-form">
                                <select id="eproduct2" name="product2_id" class="product sm-form-control">
                                    <option value="">-- 無 --</option>
                                </select>
                            </div>
                            <div class="clear"></div>
                            <div class="col_one_third my-form">
                                <label for="productl3">產品類別3</label>
                            </div>
                            <div class="col_two_third col_last my-form">
                                <select id="eproduct3" name="product3_id" class="product sm-form-control">
                                    <option value="">-- 無 --</option>
                                </select>
                            </div>
                            <div class="clear"></div>
                            <div class="col_one_third my-form">
                                <label for="productl4">產品類別4</label>
                            </div>
                            <div class="col_two_third col_last my-form">
                                <select id="eproduct4" name="product4_id" class="product sm-form-control">
                                    <option value="">-- 無 --</option>
                                </select>
                            </div>
                            <div class="clear"></div>
                            <div class="col_one_third my-form">
                                <label for="template-contactform-phone">Agent</label>
                            </div>
                            <div class="col_two_third col_last my-form">
                                <select id="product" name="agent_id" class="sm-form-control product">
                                    <option value="">-- 全選 --</option>
                                    {{#each Agents}}
                                    <option value="{{_id}}">{{name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="clear"></div>
                            <div class="col_one_third my-form">
                                <label for="template-contactform-phone">Search</label>
                            </div>
                            <div class="col_two_third my-form col_last">
                                <input type="text" id="search_text" name="" value="" class="sm-form-control" oninput="Template.clientslist.loadPortfolio()" onpropertychange="Template.clientslist.loadPortfolio()">
                            </div>
                        </form>
                    </div>
                    <div class="col_three_fourth my-form col_last">
                        <div id="portfolio" style="height:500px;"></div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                    <!-- <button type="button" class="btn-get-mail btn btn-primary">全部帶入</button> -->
                    <button type="button" class="btn-get-portfolioid btn btn-primary">全部帶入</button>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="">
        <div class="modal-dialog" role="document" style="width: 70%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><span id="mail-uid"></span> 郵件內容</h4>
                </div>
                <div class="modal-body" style="">
                    <div class="col_one_fourth my-form">
                    </div>
                    <div class="col_three_fourth my-form col_last">
                    </div>
                    <div class="clear"></div>
                    <table style="width: 100%">
                        <colgroup>
                            <col class="width-title bg-grey" />
                            <col class="" span="" />
                        </colgroup>
                        <tr>
                            <td>收件人</td>
                            <td id="mail-receiver"></td>
                        </tr>
                        <tr>
                            <td>主旨</td>
                            <td id="mail-subject"></td>
                        </tr>
                        <tr>
                            <td>內文</td>
                            <td id="mail-context"></td>
                        </tr>
                        <tr>
                            <td>附加檔案</td>
                            <td id="mail-attachments"></td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                    <!-- <button type="button" class="btn-get-mail btn btn-primary">全部帶入</button> -->
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="col_four_fifth nobottommargin"> -->
    <div class="fancy-title title-border ">
        <h4>生日提醒</h4>
    </div>
    <div class=" nobottommargin">
        <form id="form-email">
            {{#with get_Emailauto_1}}
            <!-- <div class="test">aaa</div> -->
            <div class="col_one_fifth my-form">
                <label for="template-contactform-phone">寄件人</label>
            </div>
            <div class="col_two_fifth my-form">
                <input type="text" name="" value="notice@hanburyifa.com" readonly="readonly" class="sm-form-control">
                <input type="hidden" name="" id="type1" value="{{_id}}">
            </div>
            <!--       <div class="col_one_fifth my-form" style="text-align: right;">
                <label for="template-contactform-phone">啟用狀態</label>
            </div>
            <div class="col_one_fifth my-form col_last">
                <select id="isopen-1">
                    <option value="0">停用</option>
                    <option value="1">啟用</option>
                </select>
            </div> -->
            <div class="clear"></div>
            <div class="col_one_fifth my-form">
                <label for="template-contactform-phone">輸入副本信箱(逗號分隔)</label>
            </div>
            <div class="col_four_fifth my-form col_last">
                <input type="text" name="cc_mail" id="cc_mail1" value="{{cc}}" class="sm-form-control">
            </div>
            <div class="clear"></div>
            <div class="col_one_fifth my-form">
                <label for="template-contactform-phone">輸入密件副本信箱(逗號分隔)</label>
            </div>
            <div class="col_four_fifth my-form col_last">
                <input type="text" name="bcc_mail" id="bcc_mail1" value="{{bcc}}" class="sm-form-control">
            </div>
            <div class="clear"></div>
            <div class="col_one_fifth my-form">
                <label for="email-send-title">主旨</label>
            </div>
            <div class="col_four_fifth my-form col_last">
                <div class="col_five_sixth my-form" style="">
                    <input placeholder="" type="text" id="email-send-title1" name="title" value="{{subject}}" class="sm-form-control">
                </div>
            </div>
            <div class="clear"></div>
            <div class="col_one_fifth my-form">
                <label for="email-send-context">內文</label>
            </div>
            <div class="col_four_fifth my-form col_last">
                <!-- <input placeholder="" type="text" id="template-contactform-phone" name="template-contactform-phone" value="" class="sm-form-control"> -->
                <textarea id="email-send-context1" name="context" cols="60" style="height:200px" class="sm-form-control">{{context}}</textarea>
                <!-- 動態文字：中文名字 [name_cht]、Product 3 [product3]、Product 4 [product4] -->
            </div>
            <!--  <div class="clear"></div>
            <div class="col_one_fifth my-form">
                <label for="form-files">附加檔案</label>
            </div>
            <div class="col_three_fifth my-form col_last">
                <input type="file" multiple="" name="myfile" class="myFileInput sm-form-control">
                <div id="cFiles"></div>
            </div> -->
            <div class="clear"></div>
            <div class="fright">
                <button type="button" class="my-btn-save1 btn btn-success">儲存</button>
            </div>
            {{/with}}
        </form>
    </div>
    <BR>
    <BR>
    <div class="fancy-title title-border ">
        <h4>繳費提醒</h4>
    </div>
    <div class=" nobottommargin">
        <form id="form-email">
            {{#with get_Emailauto_2}}
            <!-- <div class="test">aaa</div> -->
            <div class="col_one_fifth my-form">
                <label for="template-contactform-phone">寄件人</label>
            </div>
            <div class="col_two_fifth my-form">
                <input type="text" name="" value="notice@hanburyifa.com" readonly="readonly" class="sm-form-control">
                <input type="hidden" name="" id="type2" value="{{_id}}">
            </div>
            <!--    <div class="col_one_fifth my-form" style="text-align: right;">
                <label for="template-contactform-phone">啟用狀態</label>
            </div>
            <div class="col_one_fifth my-form col_last">
                <select id="isopen-2">
                    <option value="0">停用</option>
                    <option value="1">啟用</option>
                </select>
            </div> -->
            <div class="clear"></div>
            <div class="col_one_fifth my-form">
                <label for="template-contactform-phone">輸入副本信箱(逗號分隔)</label>
            </div>
            <div class="col_four_fifth my-form col_last">
                <input type="text" name="cc_mail" id="cc_mail2" value="{{cc}}" class="sm-form-control">
            </div>
            <div class="clear"></div>
            <div class="col_one_fifth my-form">
                <label for="template-contactform-phone">輸入密件副本信箱(逗號分隔)</label>
            </div>
            <div class="col_four_fifth my-form col_last">
                <input type="text" name="bcc_mail" id="bcc_mail2" value="{{bcc}}" class="sm-form-control">
            </div>
            <div class="clear"></div>
            <div class="col_one_fifth my-form">
                <label for="email-send-title">主旨</label>
            </div>
            <div class="col_four_fifth my-form col_last">
                <div class="col_five_sixth my-form" style="">
                    <input placeholder="" type="text" id="email-send-title2" name="title" value="{{subject}}" class="sm-form-control">
                </div>
            </div>
            <div class="clear"></div>
            <div class="col_one_fifth my-form">
                <label for="email-send-context">內文</label>
            </div>
            <div class="col_four_fifth my-form col_last">
                <!-- <input placeholder="" type="text" id="template-contactform-phone" name="template-contactform-phone" value="" class="sm-form-control"> -->
                <textarea id="email-send-context2" name="context" cols="60" style="height:200px" class="sm-form-control">{{context}}</textarea>
                <!-- 動態文字：中文名字 [name_cht]、Product 3 [product3]、Product 4 [product4] -->
            </div>
            <!--  <div class="clear"></div>
            <div class="col_one_fifth my-form">
                <label for="form-files">附加檔案</label>
            </div>
            <div class="col_three_fifth my-form col_last">
                <input type="file" multiple="" name="myfile" class="myFileInput sm-form-control">
                <div id="cFiles"></div>
            </div> -->
            <div class="clear"></div>
            <div class="fright">
                <button type="button" class="my-btn-save2 btn btn-success">儲存</button>
            </div>
            {{/with}}
        </form>
    </div>
    <BR>
    <BR>
    <div class="fancy-title title-border ">
        <h4>案件追蹤</h4>
    </div>
    <div class=" nobottommargin">
        <form id="form-email">
            {{#with get_Emailauto_5}}
            <!-- <div class="test">aaa</div> -->
            <div class="col_one_fifth my-form">
                <label for="template-contactform-phone">寄件人</label>
            </div>
            <div class="col_two_fifth my-form">
                <input type="text" name="" value="notice@hanburyifa.com" readonly="readonly" class="sm-form-control">
                <input type="hidden" name="" id="type5" value="{{_id}}">
            </div>
            <!--    <div class="col_one_fifth my-form" style="text-align: right;">
                <label for="template-contactform-phone">啟用狀態</label>
            </div>
            <div class="col_one_fifth my-form col_last">
                <select id="isopen-2">
                    <option value="0">停用</option>
                    <option value="1">啟用</option>
                </select>
            </div> -->
            <div class="clear"></div>
            <div class="col_one_fifth my-form">
                <label for="template-contactform-phone">輸入副本信箱(逗號分隔)</label>
            </div>
            <div class="col_four_fifth my-form col_last">
                <input type="text" name="cc_mail" id="cc_mail5" value="{{cc}}" class="sm-form-control">
            </div>
            <div class="clear"></div>
            <div class="col_one_fifth my-form">
                <label for="template-contactform-phone">輸入密件副本信箱(逗號分隔)</label>
            </div>
            <div class="col_four_fifth my-form col_last">
                <input type="text" name="bcc_mail" id="bcc_mail5" value="{{bcc}}" class="sm-form-control">
            </div>
            <div class="clear"></div>
            <div class="col_one_fifth my-form">
                <label for="email-send-title">主旨</label>
            </div>
            <div class="col_four_fifth my-form col_last">
                <div class="col_five_sixth my-form" style="">
                    <input placeholder="" type="text" id="email-send-title5" name="title" value="{{subject}}" class="sm-form-control">
                </div>
            </div>
            <div class="clear"></div>
            <div class="col_one_fifth my-form">
                <label for="email-send-context">內文</label>
            </div>
            <div class="col_four_fifth my-form col_last">
                <!-- <input placeholder="" type="text" id="template-contactform-phone" name="template-contactform-phone" value="" class="sm-form-control"> -->
                <textarea id="email-send-context5" name="context" cols="60" style="height:200px" class="sm-form-control">{{context}}</textarea>
                <!-- 動態文字：中文名字 [name_cht]、Product 3 [product3]、Product 4 [product4] -->
            </div>
            <!--  <div class="clear"></div>
            <div class="col_one_fifth my-form">
                <label for="form-files">附加檔案</label>
            </div>
            <div class="col_three_fifth my-form col_last">
                <input type="file" multiple="" name="myfile" class="myFileInput sm-form-control">
                <div id="cFiles"></div>
            </div> -->
            <div class="clear"></div>
            <div class="fright">
                <button type="button" class="my-btn-save5 btn btn-success">儲存</button>
            </div>
            {{/with}}
        </form>
    </div>
    <BR>
    <BR>
    <div class="fancy-title title-border ">
        <h4>新件進度</h4>
    </div>
    <div class=" nobottommargin">
        <form id="form-email">
            {{#with get_Emailauto_4}}
            <!-- <div class="test">aaa</div> -->
            <div class="col_one_fifth my-form">
                <label for="template-contactform-phone">寄件人</label>
            </div>
            <div class="col_two_fifth my-form">
                <input type="text" name="" value="notice@hanburyifa.com" readonly="readonly" class="sm-form-control">
                <input type="hidden" name="" id="type4" value="{{_id}}">
            </div>
            <!--    <div class="col_one_fifth my-form" style="text-align: right;">
                <label for="template-contactform-phone">啟用狀態</label>
            </div>
            <div class="col_one_fifth my-form col_last">
                <select id="isopen-2">
                    <option value="0">停用</option>
                    <option value="1">啟用</option>
                </select>
            </div> -->
            <div class="clear"></div>
            <div class="col_one_fifth my-form">
                <label for="template-contactform-phone">輸入副本信箱(逗號分隔)</label>
            </div>
            <div class="col_four_fifth my-form col_last">
                <input type="text" name="cc_mail" id="cc_mail4" value="{{cc}}" class="sm-form-control">
            </div>
            <div class="clear"></div>
            <div class="col_one_fifth my-form">
                <label for="template-contactform-phone">輸入密件副本信箱(逗號分隔)</label>
            </div>
            <div class="col_four_fifth my-form col_last">
                <input type="text" name="bcc_mail" id="bcc_mail4" value="{{bcc}}" class="sm-form-control">
            </div>
            <div class="clear"></div>
            <div class="col_one_fifth my-form">
                <label for="email-send-title">主旨</label>
            </div>
            <div class="col_four_fifth my-form col_last">
                <div class="col_five_sixth my-form" style="">
                    <input placeholder="" type="text" id="email-send-title4" name="title" value="{{subject}}" class="sm-form-control">
                </div>
            </div>
            <div class="clear"></div>
            <div class="col_one_fifth my-form">
                <label for="email-send-context">內文</label>
            </div>
            <div class="col_four_fifth my-form col_last">
                <!-- <input placeholder="" type="text" id="template-contactform-phone" name="template-contactform-phone" value="" class="sm-form-control"> -->
                <textarea id="email-send-context4" name="context" cols="60" style="height:200px" class="sm-form-control">{{context}}</textarea>
                <!-- 動態文字：中文名字 [name_cht]、Product 3 [product3]、Product 4 [product4] -->
            </div>
            <!--  <div class="clear"></div>
            <div class="col_one_fifth my-form">
                <label for="form-files">附加檔案</label>
            </div>
            <div class="col_three_fifth my-form col_last">
                <input type="file" multiple="" name="myfile" class="myFileInput sm-form-control">
                <div id="cFiles"></div>
            </div> -->
            <div class="clear"></div>
            <div class="fright">
                <button type="button" class="my-btn-save4 btn btn-success">儲存</button>
            </div>
            {{/with}}
        </form>
    </div>
    <BR>
    <BR>
    <div class="fancy-title title-border ">
        <h4>差勤申請</h4>
    </div>
    <div class=" nobottommargin">
        <form id="form-email">
            {{#with get_Emailauto_3a}}
            <!-- <div class="test">aaa</div> -->
            <div class="col_one_fifth my-form">
                <label for="template-contactform-phone">寄件人</label>
            </div>
            <div class="col_two_fifth my-form">
                <input type="text" name="" value="notice@hanburyifa.com" readonly="readonly" class="sm-form-control">
            </div>
            <!--   <div class="col_one_fifth my-form" style="text-align: right;">
                <label for="template-contactform-phone">啟用狀態</label>
            </div>
            <div class="col_one_fifth my-form col_last">
                <select id="isopen-3">
                    <option value="0">停用</option>
                    <option value="1">啟用</option>
                </select>
            </div> -->
            <div class="clear"></div>
            <div class="col_one_fifth my-form">
                <label for="template-contactform-phone">輸入副本信箱(逗號分隔)</label>
            </div>
            <div class="col_four_fifth my-form col_last">
                <input type="text" name="cc_mail" id="cc_mail3" value="{{cc}}" class="sm-form-control">
            </div>
            <div class="clear"></div>
            <div class="col_one_fifth my-form">
                <label for="template-contactform-phone">輸入密件副本信箱(逗號分隔)</label>
            </div>
            <div class="col_four_fifth my-form col_last">
                <input type="text" name="bcc_mail" id="bcc_mail3" value="{{bcc}}" class="sm-form-control">
            </div>
            <div class="clear"></div>
            <div class="col_one_fifth my-form">
                <label for="email-send-title">代理人 主旨</label>
            </div>
            <div class="col_four_fifth my-form col_last">
                <div class="col_five_sixth my-form" style="">
                    <input placeholder="" type="text" id="email-send-title3a" name="title" value="{{subject}}" class="sm-form-control">
                </div>
                <input type="hidden" name="" id="type3a" value="{{_id}}">
            </div>
            <div class="clear"></div>
            <div class="col_one_fifth my-form">
                <label for="email-send-context">代理人 內文</label>
            </div>
            <div class="col_four_fifth my-form col_last">
                <textarea id="email-send-context3a" name="context" cols="60" style="height:200px" class="sm-form-control">{{context}}</textarea>
                <!-- 動態文字：中文名字 [name_cht]、Product 3 [product3]、Product 4 [product4] -->
            </div>
            {{/with}}
            <div class="clear"></div>
            {{#with get_Emailauto_3b}}
            <div class="col_one_fifth my-form">
                <label for="email-send-title">主管 主旨</label>
            </div>
            <div class="col_four_fifth my-form col_last">
                <div class="col_five_sixth my-form" style="">
                    <input placeholder="" type="text" id="email-send-title3b" name="title" value="{{subject}}" class="sm-form-control">
                </div>
                <input type="hidden" name="" id="type3b" value="{{_id}}">
            </div>
            <div class="col_one_fifth my-form">
                <label for="email-send-context">主管 內文</label>
            </div>
            <div class="col_four_fifth my-form col_last">
                <textarea id="email-send-context3b" name="context" cols="60" style="height:200px" class="sm-form-control">{{context}}</textarea>
                <!-- 動態文字：中文名字 [name_cht]、Product 3 [product3]、Product 4 [product4] -->
            </div>
            {{/with}}
            <div class="clear"></div>
            {{#with get_Emailauto_3c}}
            <div class="col_one_fifth my-form">
                <label for="email-send-title">人資 主旨</label>
            </div>
            <div class="col_four_fifth my-form col_last">
                <div class="col_five_sixth my-form" style="">
                    <input placeholder="" type="text" id="email-send-title3c" name="title" value="{{subject}}" class="sm-form-control">
                </div>
                <input type="hidden" name="" id="type3c" value="{{_id}}">
            </div>
            <div class="col_one_fifth my-form">
                <label for="email-send-context">人資 內文</label>
            </div>
            <div class="col_four_fifth my-form col_last">
                <textarea id="email-send-context3c" name="context" cols="60" style="height:200px" class="sm-form-control">{{context}}</textarea>
                <!-- 動態文字：中文名字 [name_cht]、Product 3 [product3]、Product 4 [product4] -->
            </div>
            {{/with}}
            <div class="clear"></div>
            {{#with get_Emailauto_3d}}
            <div class="col_one_fifth my-form">
                <label for="email-send-title">申請成功 主旨</label>
            </div>
            <div class="col_four_fifth my-form col_last">
                <div class="col_five_sixth my-form" style="">
                    <input placeholder="" type="text" id="email-send-title3d" name="title" value="{{subject}}" class="sm-form-control">
                </div>
                <input type="hidden" name="" id="type3d" value="{{_id}}">
            </div>
            <div class="col_one_fifth my-form">
                <label for="email-send-context">申請成功 內文</label>
            </div>
            <div class="col_four_fifth my-form col_last">
                <textarea id="email-send-context3d" name="context" cols="60" style="height:200px" class="sm-form-control">{{context}}</textarea>
                <!-- 動態文字：中文名字 [name_cht]、Product 3 [product3]、Product 4 [product4] -->
            </div>
            <!--  <div class="clear"></div>
            <div class="col_one_fifth my-form">
                <label for="form-files">附加檔案</label>
            </div>
            <div class="col_three_fifth my-form col_last">
                <input type="file" multiple="" name="myfile" class="myFileInput sm-form-control">
                <div id="cFiles"></div>
            </div> -->
            {{/with}}
            <div class="clear"></div>
            <div class="fright">
                <button type="button" class="my-btn-save3 btn btn-success">儲存</button>
            </div>
        </form>
    </div>
    <!--  <div class="clear"></div>
    <div class="fancy-title title-border ">
        <h4>排程信件</h4>
    </div>
    <div id="aEmail1"></div>
    <div class="clear"></div>
    <BR>
    <div class="fancy-title title-border ">
        <h4>寄件備份</h4>
    </div>
    <div class="col_three_fifth my-form">
    </div>
    <div class="col_two_fifth my-form col_last">
        <div class="col_five_sixth my-form" style="">
            <input placeholder="搜尋內文…" type="text" id="email-search-context" name="searchtext" value="" class="sm-form-control">
        </div>
        <div class="col_one_sixth my-form col_last" style="">
            <button type="button" class="btn-searchtext btn btn-success">搜尋</button>
        </div>
    </div>
    <div id="aEmail2"></div> -->
    <BR>
    <BR>
</template>
