<template name="email">
    <style type="text/css">
    #content {
      overflow : visible;
    }
    .my-form {
        margin-bottom: 10px !important;
    }

    .modal-dialog,
    .modal-content {
        /* 80% of window height */
        min-height: 85%;
    }

    .modal-body {
        /* 100% = dialog height, 120px = header + footer */
        max-height: calc(100% - 120px);
        /*max-height: calc(100% - 60px);*/
        overflow-y: scroll;
    }

    .width-title {
        width: 25%;
    }

    .bg-grey {
        background-color: #eeeeee;
        /*width: 15%;*/
    }

    .modal-body td {
        padding: 10px;
        vertical-align: top;
    }
    </style>
    <!-- Button trigger modal -->
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="">
        <div class="modal-dialog" role="document" style="width: 85%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">選擇收件人</h4>
                </div>
                <div class="modal-body" style="">
                    <div class="col_one_fourth my-form">
                        <form class="form-modal1">
                            <div class="col_one_third my-form">
                                <label for="provider">供應商</label>
                            </div>
                            <div class="col_two_third col_last my-form">
                                <select id="eprovider" name="provider_id" class="sm-form-control product">
                                    <option value="">-- 全選 --</option>
                                    {{#each Provider}}
                                    <option value="{{_id}}">{{name_cht}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="clear"></div>
                            <div class="col_one_third my-form">
                                <label for="productl1">產品類別1</label>
                            </div>
                            <div class="col_two_third col_last my-form">
                                <select id="eproduct1" name="product1_id" class="product sm-form-control">
                                    <option value="">-- 全選 --</option>
                                    {{#each Product1}}
                                    <option value="{{_id}}">{{value}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="clear"></div>
                            <div class="col_one_third my-form">
                                <label for="productl2">產品類別2</label>
                            </div>
                            <div class="col_two_third col_last my-form">
                                <select id="eproduct2" name="product2_id" class="product sm-form-control">
                                    <option value="">-- 無 --</option>
                                </select>
                            </div>
                            <div class="clear"></div>
                            <div class="col_one_third my-form">
                                <label for="productl3">產品類別3</label>
                            </div>
                            <div class="col_two_third col_last my-form">
                                <select id="eproduct3" name="product3_id" class="product sm-form-control">
                                    <option value="">-- 無 --</option>
                                </select>
                            </div>
                            <div class="clear"></div>
                            <div class="col_one_third my-form">
                                <label for="productl4">產品類別4</label>
                            </div>
                            <div class="col_two_third col_last my-form">
                                <select id="eproduct4" name="product4_id" class="product sm-form-control">
                                    <option value="">-- 無 --</option>
                                </select>
                            </div>
                            <div class="clear"></div>
                            <div class="col_one_third my-form">
                                <label for="template-contactform-phone">Agent</label>
                            </div>
                            <div class="col_two_third col_last my-form">
                                <select id="product" name="agent_id" class="sm-form-control product">
                                    <option value="">-- 全選 --</option>
                                    {{#each Agents}}
                                    <option value="{{_id}}">{{name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="clear"></div>
                            <div class="col_one_third my-form">
                                <label for="template-contactform-phone">Search</label>
                            </div>
                            <div class="col_two_third my-form col_last">
                                <input type="text" id="search_text" name="" value="" class="sm-form-control" oninput="Template.clientslist.loadPortfolio()" onpropertychange="Template.clientslist.loadPortfolio()">
                            </div>
                        </form>
                    </div>
                    <div class="col_three_fourth my-form col_last">
                        <div id="portfolio" style="height:500px;"></div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                    <!-- <button type="button" class="btn-get-mail btn btn-primary">全部帶入</button> -->
                    <button type="button" class="btn-get-portfolioid btn btn-primary">全部帶入</button>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="">
        <div class="modal-dialog" role="document" style="width: 70%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><span id="mail-uid"></span> 郵件內容</h4>
                </div>
                <div class="modal-body" style="">
                    <div class="col_one_fourth my-form">
                    </div>
                    <div class="col_three_fourth my-form col_last">
                    </div>
                    <div class="clear"></div>
                    <table style="width: 100%">
                        <colgroup>
                            <col class="width-title bg-grey" />
                            <col class="" span="" />
                        </colgroup>
                        <tr>
                            <td>收件人</td>
                            <td id="mail-receiver"></td>
                        </tr>
                        <tr>
                            <td>主旨</td>
                            <td id="mail-subject"></td>
                        </tr>
                        <tr>
                            <td>內文</td>
                            <td id="mail-context"></td>
                        </tr>
                        <tr>
                            <td>附加檔案</td>
                            <td id="mail-attachments"></td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                    <!-- <button type="button" class="btn-get-mail btn btn-primary">全部帶入</button> -->
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="col_four_fifth nobottommargin"> -->
    <div class=" nobottommargin">
        <form id="form-email">
            <!-- <div class="test">aaa</div> -->
            <div class="col_one_fifth my-form">
                <label for="template-contactform-phone">寄件人</label>
            </div>
            <div class="col_two_fifth my-form col_last">
                <input type="text" name="" value="notice@hanburyifa.com" readonly="readonly" class="sm-form-control">
            </div>
            <div class="user-input-email">
                <div class="clear"></div>
                <div class="col_one_fifth my-form">
                    <label for="template-contactform-phone">選擇收件人(自動帶入)</label>
                </div>
                <div class="col_three_fourth my-form col_last">
                    <div class="col_five_sixth my-form" style="">
                        <select name="email2" id="modal2-mail2" class="js-data-example-ajax2 browser-default" multiple="multiple" style="width: 100%;">
                        </select>
                    </div>
                    <div class="col_one_sixth my-form col_last">
                        <button id="clear-mail-select" type="button" class="btn btn-default">清除</button>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="col_one_fifth my-form">
                    <label for="template-periodmail">電子報表種類</label>
                </div>
                <div class="col_two_fifth my-form">
                    <select style="margin-top: 4px;" id="template-periodmail" name="periodmail" class="title sm-form-control">
                        <option value="1"> - 非電子報表 - </option>
                        <!-- <option value="">電子報表</option> -->
                        <option value="2">投資月報表</option>
                        <option value="3">Hanbury View</option>
                        <option value="4">Hanbury Finanical</option>
                        <option value="5">VOYA年度繳費提醒</option>
                        <option value="6">FPI逾期款項提醒</option>
                        <option value="7">生日賀卡</option>
                        <option value="8">年節賀卡</option>
                    </select>
                </div>
                <div class="clear"></div>
                <div class="col_one_fifth my-form">
                    <label for="template-contactform-phone">輸入收件信箱(逗號分隔)</label>
                </div>
                <div class="col_four_fifth my-form col_last">
                    <textarea style="width:100%; height: 75px;margin-bottom: 10px;" id="modal2-mail3" name="email3" class="textarea sm-form-control" placeholder="請輸入Email，並以逗號分隔"></textarea>
                    <!-- <div style="">
                        <div style=" width:120px; float: left; margin-right: 20px;">
                            <button type="button" class="btn btn-warning right" data-toggle="modal" data-target="#myModal">帶入
                            </button>
                            <button id="clear-mail3" type="button" class="btn btn-default">清除
                            </button>
                        </div>
                        <span id="email3-status" style="text-align: left; float:left"></span>
                    </div> -->
                </div>
                <div class="clear"></div>
                <div class="col_one_fifth my-form">
                    <label for="template-contactform-phone">選擇投資單號(逗號分隔)</label>
                </div>
                <div class="col_four_fifth my-form col_last">
                    <textarea style="width:100%; height: 75px;margin-bottom: 10px;" id="modal2-mail4" name="email4" class="textarea sm-form-control" placeholder="請輸入投資單號，並以逗號分隔"></textarea>
                    <div style="">
                        <div style=" width:220px; float: left; margin-right: 20px;">
                            <button type="button" class="btn btn-warning right" data-toggle="modal" data-target="#myModal">選擇投資單號
                            </button>
                            <button id="clear-mail4" type="button" class="btn btn-default">清除
                            </button>
                        </div>
                        <span id="email4-status" style="text-align: left; float:left"></span>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="col_one_fifth my-form">
                <label for="template-contactform-phone">輸入副本信箱(逗號分隔)</label>
            </div>
            <div class="col_four_fifth my-form col_last">
                <input type="text" name="cc_mail" id="cc_mail" value="" class="sm-form-control">
            </div>
            <div class="clear"></div>
            <div class="col_one_fifth my-form">
                <label for="template-contactform-phone">輸入密件副本信箱(逗號分隔)</label>
            </div>
            <div class="col_four_fifth my-form col_last">
                <input type="text" name="bcc_mail" id="bcc_mail" value="" class="sm-form-control">
            </div>
            <div class="clear"></div>
            <div class="col_one_fifth my-form">
                <label for="template-tc">主旨內文樣板</label>
            </div>
            <div class="col_two_fifth my-form">
                <select style="margin-top: 4px;" id="template-tc" name="templatetc" class="emailtemplate title sm-form-control">
                    <option value="">-- 請選擇 --</option>
                    {{#each get_mailTitle}}
                    <option value="{{_id}}">{{view_title}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="col_two_fifth col_last my-form">
                <button type="button" class="btn-addTitle btn btn-primary">新增</button>
                <button type="button" class="btn-saveTitle btn btn-warning">儲存</button>
                <button type="button" class="btn-delTitle btn btn-default">刪除</button>
            </div>
            <div class="clear"></div>
            <div class="col_one_fifth my-form">
                <label for="email-send-title">主旨</label>
            </div>
            <div class="col_four_fifth my-form col_last">
                <div class="col_five_sixth my-form" style="">
                    <input placeholder="" type="text" id="email-send-title" name="title" value="" class="sm-form-control">
                </div>
                <div class="col_one_sixth my-form col_last" style="">
                    <button type="button" class="btn-clearTC btn btn-default">清除</button>
                </div>
            </div>
            <div class="clear"></div>
            <!--           <div class="col_one_third my-form">
                <label for="template-contactform-phone">內文樣板</label>
            </div>
            <div class="col_one_third my-form">
                <select style="margin-top: 4px;" id="template-contactform-service" name="template-contactform-service" class="emailtemplate context sm-form-control">
                    <option value=""> 請選擇 </option>
                </select>
            </div>
            <div class="col_one_third col_last my-form">
                <button type="button" class="btn-saveContext btn btn-warning">新增內文樣板</button>
                <button type="button" class="btn-delContext btn btn-default">刪除</button>
            </div> -->
            <div class="col_one_fifth my-form">
                <label for="email-send-context">內文</label>
            </div>
            <div class="col_four_fifth my-form col_last">
                <!-- <input placeholder="" type="text" id="template-contactform-phone" name="template-contactform-phone" value="" class="sm-form-control"> -->
                <textarea id="email-send-context" name="context" cols="60" style="height:200px" class="sm-form-control"></textarea>
                <!-- 動態文字：中文名字 <a href="#" class="dynamic_text">[name_cht]</a>、Product 3 <a href="#" class="dynamic_text">[product3]</a>、Product 4 <a href="#" class="dynamic_text">[product4]</a><BR> -->
                動態文字：中文名字 [name_cht]、Product 3 [product3]、Product 4 [product4]
                <BR>
                <!-- <div id="sel-product"></div> -->
            </div>
            <div class="clear"></div>
            <div class="col_one_fifth my-form">
                <label for="template-contactform-phone">預定寄送時間
                    <input type="checkbox" name="issendtime" id="issendtime" value="0">
                </label>
            </div>
            <div class="col_two_fifth my-form col_last">
                <input id="email-send-datetime" name="send_datetime" type="text" class="tleft sm-form-control datetimepicker" placeholder="YYYY-MM-DD 00:00" style="display: none;" />
            </div>
            <div class="clear"></div>
            <div class="col_one_fifth my-form">
                <label for="form-files">附加檔案</label>
            </div>
            <div class="col_three_fifth my-form col_last">
                <!-- <input type="file" multiple="" name="myfile" class="myFileInput sm-form-control"> -->

                <input id="input-3" name="input2[]" type="file" class="file file_bag file-loading" multiple data-show-upload="false" data-show-caption="true" data-show-preview="true">
                <BR>
                <a href="#" class="upload button button-3d button-small button-rounded button-teal button-dark fright"><i class="icon-external-link"></i>Upload</a>
                {{#each files}}
                <!-- <h4></h4> -->
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{percent_uploaded}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percent_uploaded}}%;">
                        {{file.original_name}} {{percent_uploaded}}%
                    </div>
                </div>
                {{/each}}
                
                <BR>
                <div class="div-use_auto_mail">
                    <input id="use_auto_mail" type="checkbox" name="use_auto_mail" value="1" class=""> 使用自動偵測的mail
                </div>
                <div id="cFiles"></div>
            </div>
            <div class="clear"></div>
            <div class="fright">
                <button type="button" class="my-btn-sendmail btn btn-success">送出</button>
            </div>
        </form>
    </div>
    <!--   <div class="col_one_fifth nobottommargin col_last">
    </div> -->
    <div class="clear"></div>
    <!-- <div class="fancy-title title-border topmargin"> -->
    <div class="fancy-title title-border ">
        <h4>排程信件</h4>
    </div>
    <div id="aEmail1"></div>
    <div class="clear"></div>
    <BR>
    <div class="fancy-title title-border ">
        <h4>寄件備份</h4>
    </div>
    <div class="col_three_fifth my-form">
        <!-- <label for="email-send-title">主旨</label> -->
    </div>
    <div class="col_two_fifth my-form col_last">
        <div class="col_five_sixth my-form" style="">
            <input placeholder="搜尋內文…" type="text" id="email-search-context" name="searchtext" value="" class="sm-form-control">
        </div>
        <div class="col_one_sixth my-form col_last" style="">
            <button type="button" class="btn-searchtext btn btn-success">搜尋</button>
        </div>
    </div>
    <div id="aEmail2"></div>
    <!-- Modal -->
    <BR>
    <BR>
</template>
