<template name="employeelist">
    <h3>員工列表</h3>
    <div class="fright">在職狀態
        <select id="sel_filter" name="sel_filter" style="width: 200px;">
            <option value="1">在職員工</option>
            <option value="0">離職員工</option>
            <option value="2">全選</option>
        </select>
    </div>
    <BR>
    <BR>
    <BR>
    <div style="font-size: 15px;">直接拖曳可以調整順序</div>
    <div id="employeelist"></div>
    <BR>
    <BR>
</template>
