<template name="financiallist">
    <h3>財務管理</h3>
    <BR>
    <style type="text/css">
    #content {
      overflow : visible;
    }
    .my-block ul {
        padding-left: 40%;
        font-size: 22px;
    }

    .my-block .caption {
        margin-bottom: 30px;
    }

    .jumbotron h2 {
        text-align: center;
    }

    .jumbotron {
        padding-bottom: 30px;
    }
    </style>
    <div class="row my-block ">
        {{#each get_bg}}
        <div class="col-sm-6">
            <div class="thumbnail">
                <div class="jumbotron">
                    <h2>{{value}}</h2>
                </div>
                <div class="caption">
                    <ul>
                        <li><a href="/fin_arch/{{_id}}">財務帳本</a></li>
                        <li><a href="/fin_salary/{{_id}}">薪資管理</a></li>
                        <li><a href="/fin_commission/{{_id}}">佣金管理</a></li>
                        <li><a href="/account/{{_id}}">會計科目</a></li>
                        <li><a href="/bankacc/{{_id}}">出款帳戶</a></li>
                        <li><a href="/accountyear/{{_id}}">會計年度</a></li>
                    </ul>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    <a href="/businessgroup/{{_id}}" style="font-weight: bolder; font-size: 18px"><button class="btn btn-primary">隸屬事業群設定</button></a>
    <br>
    <br>
    <div class="col_one_third nobottommargin col_last">
        <div class="fancy-title title-border">
            <h4>國家/地區</h4>
            <button style="float: right; margin-top: 10%;" class="right btn btn-primary btn-new1">新增</button>
        </div>
        <br>
        <div id="e_country"></div>
    </div>
</template>
