<template name="followservice">
    <style type="text/css">
    #content {
      overflow : visible;
    }
    .bootstrap-datetimepicker-widget {
        z-index: 1151 !important;
    }

    .row-warning > td {
        background-color: #fcf8e3 !important;
    }

    .row-danger > td {
        background-color: #f2dede !important;
    }
    .my-form {
        margin-bottom: 10px !important;
    }
    .jsgrid {
        overflow: visible;
    }

    /**{border: solid 0.5px;}*/
    </style>
    <h3>案件追蹤</h3>
    <a href="applyservice" style="font-weight: bolder; font-size: 18px">
        <button class="btn btn-primary">新增案件</button>
    </a>
    <a href="#" id="csv_followservice">
        <button class="btn btn-default">下載</button>
    </a>
    <button type="button" id="btn-sendEmails" class="btn btn-success">寄案件追蹤給Agent</button>
    <br>
    <br>
    <div class="clear"></div>
    <div class="col_one_third my-form">
        <label for="template-contactform-phone">Search</label>
    </div>
    <div class="col_two_third my-form col_last">
        <input type="text" id="search_text" placeholder="Client Name" class="sm-form-control" oninput="Template.followservice.loadPortfolio()" onpropertychange="Template.followservice.loadPortfolio()">
    </div>
    <div class="clear"></div>
    <div class="col_one_third my-form">
        <label for="productl1">agent</label>
    </div>
    <div class="col_two_third col_last my-form">
        <select id="sel_agent" name="agent" class="product sm-form-control">
            <option value="-1">-- 全選 --</option>
            {{#each get_agent}}
            <option value="{{_id}}">{{name}}</option>
            {{/each}}
        </select>
    </div>
    <div class="clear"></div>
    <div class="col_one_third my-form">
        <label for="">status</label>
    </div>
    <div class="col_two_third col_last my-form">
        <select id="sel_status" name="sel_status" class="sm-form-control">
            <option value="">-- 全選 --</option>
            <option value="1">申請中</option>
            <option value="2">已完成</option>
            <option value="3">已取消</option>
            <option value="4">Pending</option>
        </select>
    </div>
    <div class="clear"></div>
    <div class="col_one_third my-form">
        <label for="">ActionOwner</label>
    </div>
    <div class="col_two_third col_last my-form">
        <select id="sel_actionOwner" name="sel_actionOwner" class="sm-form-control">
            <option value="">-- 全選 --</option>
            <option value="1">GrandTag</option>
            <option value="2">Panorama</option>
            <option value="3">Agent</option>
            <option value="4">Hanbury Operation</option>
            <option value="5">Provider</option>
        </select>
    </div>
    <div class="clear"></div>
    <!-- <br>
    <br> -->
    <br>
    <br>
    <!-- <div id="e_followservice" class="datetimepicker"></div> -->
    <div id="e_followservice"></div>
    <div id="e_followservice_dis_non" style="display: none"></div>
    <div id="e_followservice_dis_non2" style="display: none"></div>
    <br>
    <br>
    <br>
    <br>
</template>
