<template name="follownewcase">
    <style type="text/css">
    #content {
      overflow : visible;
    }
    .ui-widget {
        font-size: 12px;
    }

    .jsgrid tr:first-child th {
        padding: 0;
        border: none;
    }

    .jsgrid th {
        padding: .5em 0;
    }

    .jsgrid tr th {
        border: 1px solid #e9e9e9;
    }

    .jsgrid-header-sort:before {
        display: none;
    }

    .row-danger > td {
        background-color: #f2dede !important;
    }
    </style>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalFileLabel" style="">
        <div class="modal-dialog" role="document" style="">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">新件進度一覽 <span id="modal2-link"></span></h4>
                </div>
                <div class="modal-body" style="">
                    <div id="jsgPortfoliostatus"></div>
                    <div class="clear"></div>
                </div>
                <div class="modal-footer">
                    <a id="csv_jsgPortfoliostatus">
                        <button type="button" class="btn btn-default">下載</button>
                    </a>
                    <button type="button" class="btn-mycancel btn btn-default" data-dismiss="modal">關閉</button>
                    <!-- <button type="button" data-dismiss="modal" class="btn-print btn btn-warning">列印</button> -->
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="fancy-title title-border ">
        <h3>新件進度</h3>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div>新件種類</div>
        <select id="type_id" name="type_id" class="type_id sm-form-control" style="width: 200px; position: relative;">
            <option value="1">Pru Life</option>
            <option value="2">VOYA</option>
            <option value="3">Colonial</option>
        </select>
      </div>
      <div class="col-md-3">
        <div>Status</div>
        <select id="status_id" name="status_id" class="status_id sm-form-control" style="width: 200px; position: relative;">
            <option value="0">All</option>
            <option value="1">申請中</option>
            <option value="2">已完成</option>
            <option value="3">已取消</option>
            <option value="4">Pending</option>
        </select>
      </div>
        <div class="col-md-3">
          <div>Agent</div>
              <select id="sel_agent" name="agent" class="sm-form-control">
                  <option value="-1">All</option>
                  {{#each get_agent}}
                  <option value="{{_id}}">{{name}}</option>
                  {{/each}}
              </select>
        </div>
        <div class="col-md-3" style="padding-top:15px;">
            <button type="button" class="btn-sendEmails btn btn-success">寄給Agent</button>
            <a id="csv_follownewcase" class="fright">
                <button type="button" class="btn btn-default">下載</button>
            </a>
        </div>
    </div>
    <BR>
    <BR>
    <div id="follownewcase"></div>
    <div id="follownewcase2" style="display:none"></div>
    <BR>
</template>
