<template name="formcenter">
    <style type="text/css">
    #content {
      overflow : visible;
    }
    #myModalFile .modal-dialog,
    #myModalFile .modal-content {
        height: 95%
    }
    #myModalFile .modal-body {
        height: 85%;
        overflow-y: scroll;
    }
    </style>
    <h3>表單中心</h3>
    <div class="modal fade" id="myModalFile" tabindex="-1" role="dialog" aria-labelledby="myModalFileLabel" style="">
        <div class="modal-dialog" role="document" style="width: 85%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">預覽文件<span id="modal2-link"></span></h4>
                </div>
                <div class="modal-body" style="">
                    <iframe id="file_iframe" src="" width="100%" height="100%"></iframe>
                    <div class="clear"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-mycancel btn btn-default" data-dismiss="modal">關閉</button>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="">
        <div class="modal-dialog" role="document" style="width: 550px;">
            <div class="modal-content">
                <form class="form-modal1">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">文件類別管理</h4>
                    </div>
                    <div class="modal-body" style="padding: 10px;">
                        <div class="input-field col s12">
                            <label>新增文件類別</label>
                            <input name="catalog" id="catalog" type="text" class=" text">
                            <button type="submit" class="my-btn-submit1 btn btn-success">新增</button>
                        </div>
                        <div class="clear"></div>
                        <div id="e_formcenter1"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn-mycancel btn btn-default" data-dismiss="modal">關閉</button>
                        <!-- <button type="submit" class="btn btn-primary" data-dismiss="modal">儲存</button> -->
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="">
        <div class="modal-dialog" role="document" style="width: 70%;">
            <div class="modal-content">
                <form class="form-modal2">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">新增文件</h4>
                    </div>
                    <div class="modal-body" style="margin: 15px;">
                        <div class="col_one_fifth nobottommargin">
                            <label>文件類別</label>
                        </div>
                        <div class="col_four_fifth col_last nobottommargin">
                            <span id="m2-f1_showtext"></span>
                            <!-- 開啟這個modal的時候 1、顯示f1的文字 2、把f1的值，寫入一個hidden的input -->
                            <input type="hidden" name="f1" id="m2-f1">
                            <input type="hidden" name="f1_text" id="m2-f1_text">
                            <!-- 上傳檔案後 也把網址放這下面這兩個欄位中 -->
                            <input type="hidden" name="file1_url" id="m2-file1_url">
                            <input type="hidden" name="file2_url" id="m2-file2_url">
                        </div>
                        <div class="clear"></div>
                        <div class="col_one_fifth nobottommargin">
                            <label for="apply_doc">申請文件</label>
                            <BR>
                        </div>
                        <div class="col_four_fifth col_last nobottommargin">
                            <input name="apply_doc" id="apply_doc" type="text" class="text">
                        </div>
                        <div class="clear"></div>
                        <div class="col_one_fifth nobottommargin">
                            <label for="blank_doc">空白檔案</label>
                        </div>
                        <!-- <input name="blank_doc" id="blank_doc" type="text" class="text"> -->
                        <div class="col_four_fifth col_last nobottommargin">
                            <input id="input-3" name="" type="file" class="file file_bag file-loading" data-show-upload="false" data-show-caption="true" data-show-preview="true">
                            <BR>
                            <a href="#" class="upload1 button button-3d button-small button-rounded button-teal button-dark fright"><i class="icon-external-link"></i>Upload</a>
                            {{#each files1}}
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="{{percent_uploaded}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percent_uploaded}}%;">
                                    {{file.original_name}} {{percent_uploaded}}%
                                </div>
                            </div>
                            {{/each}}
                        </div>
                        <div class="clear"></div>
                        <div class="col_one_fifth nobottommargin">
                            <label for="example_doc">範例檔案</label>
                        </div>
                        <!-- <input name="example_doc" id="example_doc" type="text" class="text"> -->
                        <div class="col_four_fifth col_last nobottommargin">
                            <input id="input-4" type="file" class="file file_bag2 file-loading" data-show-upload="false" data-show-caption="true" data-show-preview="true">
                            <BR>
                            <a href="#" class="upload2 button button-3d button-small button-rounded button-teal button-dark fright"><i class="icon-external-link"></i>Upload</a>
                            {{#each files2}}
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="{{percent_uploaded}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percent_uploaded}}%;">
                                    {{file.original_name}} {{percent_uploaded}}%
                                </div>
                            </div>
                            {{/each}}
                        </div>
                        <div class="clear"></div>
                        <div class="col_one_fifth nobottommargin">
                            <label for="remind_doc">附加文件提醒</label>
                        </div>
                        <div class="col_four_fifth col_last nobottommargin">
                            <input name="remind_doc" id="remind_doc" type="text" class="text">
                        </div>
                        <div class="clear"></div>
                        <div class="col_one_fifth nobottommargin">
                            <label for="workingdays">工作天數</label>
                        </div>
                        <div class="col_four_fifth col_last nobottommargin">
                            <input name="workingdays" id="workingdays" type="text" class="text">
                        </div>
                        <div class="clear"></div>
                        <div class="col_one_fifth nobottommargin">
                            <label for="remark">備註</label>
                        </div>
                        <div class="col_four_fifth col_last nobottommargin">
                            <input name="remark" id="remark" type="text" class="text">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                        <button type="submit" class="btn btn-primary">新增</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="col_one_third">
        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal1">文件類別管理</button>
    </div>
    {{#if get_catalog_count}}
    <div class="col_two_third col_last">
    <div>文件類別</div>
        <select id="sel-catalog" name="catalog" class="sm-form-control">
            {{#each get_catalog}}
            <option value="{{_id}}">{{catalog}}</option>
            {{/each}}
        </select>
    </div>
    <div class="clear"></div>
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal2">新增文件</button>
    <BR>
    <BR>
    {{/if}}
    <div id="e_formcenter1" style="display: none;"></div>
    <div id="e_formcenter2" style="{{#if get_catalog_count}}{{else}}display: none;{{/if}}"></div>

</template>
