<template name="homepics">
    <style type="text/css">
    #content {
      overflow : visible;
    }
    .grid-img {
        width: 100%;
        max-height: 200px;
        max-width: 200px;
    }
    </style>
    <h4>首頁輪播照片</h4>
    <p>
        <!-- <input type="file" multiple="" name="myfile3" class="myFileInput3"> -->
        <input id="input-3" name="input2[]" type="file" class="file file_bag file-loading" multiple data-show-upload="false" data-show-caption="true" data-show-preview="true">
        <BR>
        <a href="#" class="upload button button-3d button-small button-rounded button-teal button-dark fright"><i class="icon-external-link"></i>Upload</a>
        {{#each files}}
        <!-- <h4></h4> -->
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{percent_uploaded}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percent_uploaded}}%;">
                {{file.original_name}} {{percent_uploaded}}%
            </div>
        </div>
        {{/each}}
    </p>
    <div id="cFiles"></div>
</template>
