<template name="hrform">
    <div class="modal fade" id="myModalFile" tabindex="-1" role="dialog" aria-labelledby="myModalFileLabel" style="">
        <div class="modal-dialog" role="document" style="width: 85%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">預覽文件<span id="modal2-link"></span></h4>
                </div>
                <div class="modal-body" style="height: 800px">
                    <iframe id="file_iframe" src="" width="100%" height="100%"></iframe>
                    <div class="clear"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    <h3>人事規章</h3>
    <div id="cFiles"></div>
    <br>
    <br>
    <br>
    <br>
</template>