<template name="interestcondition">
    <h3>配息條件</h3>
    <button type="button" class="btn btn-warning btn-new">新增</button>
    <BR>
    <BR>
    <div id="e_interestcondition"></div>
    <BR>
    <BR>
    <BR>
    <BR>
</template>
