<template name="oproduct">
    <style type="text/css">
    #content {
      overflow : visible;
    }
    .fr-element ol {
        padding: auto;
    }

    .fr-element li {
        padding: auto;
    }

    .my-form {
        margin-bottom: 10px !important;
    }

    .my-panel ul, .my-panel li{
         padding-left: 30px;
    }
    </style>
    <h3>產品管理(外部) 內容</h3>
    <div style="margin-top: 10px; ">
        <div class="col_one_third my-form">
            <label for="productl1">產品類別1</label>
        </div>
        <div class="col_two_third col_last my-form">
            <select id="eproduct1" name="product1_id" class="product sm-form-control">
                <option value="">-- 全選 --</option>
                {{#each Product1}}
                <option value="{{_id}}">{{value}}</option>
                {{/each}}
            </select>
        </div>
        <div class="clear"></div>
        <div class="col_one_third my-form">
            <label for="productl2">產品類別2</label>
        </div>
        <div class="col_two_third col_last my-form">
            <select id="eproduct2" name="product2_id" class="product sm-form-control">
                <option value="">-- 無 --</option>
            </select>
        </div>
        <div class="clear"></div>
        <div class="col_one_third my-form">
            <label for="productl3">產品類別3</label>
        </div>
        <div class="col_two_third col_last my-form">
            <select id="eproduct3" name="product3_id" class="product sm-form-control">
                <option value="">-- 無 --</option>
            </select>
        </div>
        <div class="clear"></div>
        <div class="col_one_third my-form">
            <label for="productl4">產品類別4</label>
        </div>
        <div class="col_two_third col_last my-form">
            <select id="eproduct4" name="product4_id" class="product sm-form-control">
                <option value="">-- 無 --</option>
            </select>
        </div>
    </div>
    <BR>
    <BR>
    <div class="clear"></div>
    <!-- <h2>產品內容管理</h2> -->
    <style type="text/css">
    #p4-management h4 {
        margin-top: 22px;
    }

    #p4-management .sm-form-control {
        margin-bottom: 8px;
    }
    </style>
    <div id="p4-management" class="fancy-title title-bottom-border" style="display: none;">
        <div class="" style="text-align: right;">
            <a href="" id="to-outer-page" target="_blank">前往頁面</a>
        </div>
        <br>
        <h4>最上面的圖</h4>
        <p>
            <!-- <input type="file" multiple="" name="myfile" class="myFileInput"> -->
            <input id="" name="input2[]" type="file" class="file file_bag file-loading" multiple data-show-upload="false" data-show-caption="true" data-show-preview="true">
            <BR>
            <a href="#" class="upload1 button button-3d button-small button-rounded button-teal button-dark fright"><i class="icon-external-link"></i>Upload</a>
            {{#each files}}
            <!-- <h4></h4> -->
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{percent_uploaded}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percent_uploaded}}%;">
                    {{file.original_name}} {{percent_uploaded}}%
                </div>
            </div>
            {{/each}}
        </p>
        <p id="pic1">
            <img id="op4-big-pic" src="">
        </p>
        <h4>主要大圖</h4>
        <p>
            <!-- <input type="file" multiple="" name="myfile2" class="myFileInput2"> -->
            <input id="" name="input2[]" type="file" class="file file_bag file-loading" multiple data-show-upload="false" data-show-caption="true" data-show-preview="true">
            <BR>
            <a href="#" class="upload2 button button-3d button-small button-rounded button-teal button-dark fright"><i class="icon-external-link"></i>Upload</a>
            {{#each files}}
            <!-- <h4></h4> -->
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{percent_uploaded}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percent_uploaded}}%;">
                    {{file.original_name}} {{percent_uploaded}}%
                </div>
            </div>
            {{/each}}
        </p>
        <p>
            <img id="op4-big-pic2" src="">
        </p>
        <h4>標題
            <a id="save-p4-title" style="float: right; margin-top: -4px;" href="#" class="right button button-3d button-mini button-rounded button-amber">儲存</a>
        </h4>
        <br>
        <div class="col_one_fifth nobottommargin">
            <label for="title1">大標題</label>
        </div>
        <div class="col_three_fifth col_last nobottommargin">
            <input name="title1" id="title1" type="text" class="text sm-form-control">
        </div>
        <div class="clear"></div>
        <div class="col_one_fifth nobottommargin">
            <label for="title2">小標題</label>
        </div>
        <div class="col_three_fifth col_last nobottommargin">
            <input name="title2" id="title2" type="text" class="text sm-form-control">
        </div>
        <div class="clear"></div>
        <h4>介紹方框
            <a id="save-p4-intro" style="float: right; margin-top: -4px;" href="#" class="right button button-3d button-mini button-rounded button-amber">儲存</a>
            <!-- <a id="add-p4-intro" style="float: right; margin-top: -4px;" href="#" class="right button button-3d button-mini button-rounded button-leaf">新增</a> -->
        </h4>
        <br>
        <div class="col_one_fifth nobottommargin">
            <label for="intro_title1">標題1</label>
        </div>
        <div class="col_three_fifth nobottommargin">
            <input id="intro_title1" name="intro_title1" type="text" class="intro_title text sm-form-control">
        </div>
        <div class="col_one_fifth col_last nobottommargin">
        </div>
        <div class="clear"></div>
        <div class="col_one_fifth nobottommargin">
            <label for="intro_content1">內文1</label>
        </div>
        <div class="col_three_fifth col_last nobottommargin my-panel">
            <textarea id="intro_content1" class="sm-form-control" name="intro_content1" style="width:100%;height: 100px;"></textarea>
        </div>
        <div class="clear"></div>
        <div class="col_one_fifth nobottommargin">
            <label for="intro_title2">標題2</label>
        </div>
        <div class="col_three_fifth nobottommargin">
            <input id="intro_title2" name="intro_title2" type="text" class="intro_title text sm-form-control">
        </div>
        <div class="col_one_fifth col_last nobottommargin">
        </div>
        <div class="clear"></div>
        <div class="col_one_fifth nobottommargin">
            <label for="intro_content2">內文2</label>
        </div>
        <div class="col_three_fifth col_last nobottommargin my-panel">
            <textarea id="intro_content2" class="sm-form-control" name="intro_content2" style="width:100%;height: 100px;"></textarea>
        </div>
        <div class="clear"></div>
        <div class="col_one_fifth nobottommargin">
            <label for="intro_title3">標題3</label>
        </div>
        <div class="col_three_fifth nobottommargin">
            <input id="intro_title3" name="intro_title2" type="text" class="intro_title text sm-form-control">
        </div>
        <div class="col_one_fifth col_last nobottommargin">
        </div>
        <div class="clear"></div>
        <div class="col_one_fifth nobottommargin">
            <label for="intro_content3">內文3</label>
        </div>
        <div class="col_three_fifth col_last nobottommargin my-panel">
            <textarea id="intro_content3" class="sm-form-control" name="intro_content3" style="width:100%;height: 100px;"></textarea>
        </div>
        <div class="clear"></div>
        <div id="intro_others"></div>
        <h4>影片
            <a id="save-p4-video" style="float: right; margin-top: -4px;" href="#" class="right button button-3d button-mini button-rounded button-amber">儲存</a>
        </h4>
        <br>
        <div class="col_one_fifth nobottommargin">
            <label for="youtube_url">Youtube影片 位置</label>
        </div>
        <div class="col_three_fifth col_last nobottommargin">
            https://www.youtube.com/watch?v=
            <input name="youtube_url" id="youtube_url" type="text" style="display: inline; width: 140px;" class="text sm-form-control" value="" placeholder="">
        </div>
        <div class="clear"></div>
        <div class="col_one_fifth nobottommargin">
            <label for="youtube_title">Youtube影片 標題</label>
        </div>
        <div class="col_three_fifth nobottommargin">
            <input id="youtube_title" name="youtube_title" type="text" class=" text sm-form-control">
        </div>
        <div class="col_one_fifth col_last nobottommargin">
        </div>
        <div class="clear"></div>
        <div class="col_one_fifth nobottommargin">
            <label for="youtube_content">Youtube影片 說明</label>
        </div>
        <div class="col_three_fifth col_last nobottommargin">
            <textarea id="youtube_content" class="sm-form-control" name="youtube_content" style="width:100%;height: 100px;"></textarea>
        </div>
        <div class="clear"></div>
        <div class="col_one_fifth nobottommargin">
            <label for="video_url">其他影片 位置</label>
        </div>
        <div class="col_three_fifth col_last nobottommargin">
            <input name="video_url" id="video_url" type="text" class="text sm-form-control" value="http://" placeholder="http://">
        </div>
        <div class="clear"></div>
        <div class="col_one_fifth nobottommargin">
            <label for="video_title">其他影片 標題</label>
        </div>
        <div class="col_three_fifth nobottommargin">
            <input id="video_title" name="video_title" type="text" class="intro_title text sm-form-control">
        </div>
        <div class="col_one_fifth col_last nobottommargin">
        </div>
        <div class="clear"></div>
        <div class="col_one_fifth nobottommargin">
            <label for="video_content">其他影片 說明</label>
        </div>
        <div class="col_three_fifth col_last nobottommargin">
            <textarea id="video_content" class="sm-form-control" name="video_content" style="width:100%;height: 100px;"></textarea>
        </div>
        <div class="clear"></div>
        <br>
        <h4>產品圖片
            <!-- <a style="float: right; margin-top: -4px;" href="#" class="right button button-3d button-mini button-rounded button-amber" data-toggle="modal" data-target="#myModal4">新增</a> -->
            </h4>
        <!-- <p>123</p> -->
        <p>
            <!-- <input type="file" multiple="" name="myfile3" class="myFileInput3"> -->
            <input id="" name="input2[]" type="file" class="file file_bag file-loading" multiple data-show-upload="false" data-show-caption="true" data-show-preview="true">
            <BR>
            <a href="#" class="upload3 button button-3d button-small button-rounded button-teal button-dark fright"><i class="icon-external-link"></i>Upload</a>
            {{#each files}}
            <!-- <h4></h4> -->
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{percent_uploaded}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percent_uploaded}}%;">
                    {{file.original_name}} {{percent_uploaded}}%
                </div>
            </div>
            {{/each}}
        </p>
        <!-- <br> -->
        <style type="text/css">
        .grid-img {
            width: 100%;
            max-height: 200px;
            max-width: 200px;
        }
        </style>
        <div id="cFiles"></div>
    </div>
</template>
