<template name="payreminder">
	<div class="fancy-title title-border ">
		<h3>繳費提醒</h3>
	</div>
    <div class="col_two_third">
        <button type="button" class="btn-sendEmails btn btn-success">寄繳費提醒給Agent</button>
    </div>
    <div class="col_one_third col_last">
	<div>Agent</div>
        <select id="sel_agent" name="agent" class="sm-form-control">
            <option value="-1">All</option>
            {{#each get_agent}}
            <option value="{{_id}}">{{name}}</option>
            {{/each}}
        </select>
    </div>
    <div id="payreminder"></div>
    <div id="payreminder2" style="display:none;"></div>
</template>
