<template name="product4_oc">

    <div id="oc-portfolio" class="div-owl owl-carousel portfolio-carousel">
        {{#each carousel}}
        <div class="oc-item">
            <div class="iportfolio">
                <div class="portfolio-image">
                    <img src="{{url}}" alt="{{title1}}">
                    <div class="portfolio-overlay">
                        <a href="{{url}}" class="center-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
                    </div>
                </div>
                <div class="portfolio-desc">
                    <h3>{{title1}}&nbsp;</h3>
                    <span>{{title2}}&nbsp;</span>
                </div>
            </div>
        </div>
        {{/each}}
    </div>	
	
</template>
