<template name="product4">
    <style type="text/css">
    #content {
      overflow : visible;
    }
    .my-breadcrumb{
        /*content: "/\00a0";*/
        padding: 0 5px;
        color: #cccccc;
    }
    .my-panel{
        width: 527px;
        margin-left: 70px;
    }

    .my-panel ul, .my-panel li{
        padding-left: 30px;
    }
    .iportfolio .portfolio-image img{
        height: 136px;
    }
    /*.title-img{
        width: 85%;
    }*/
    </style>
    {{#if showpic1}}
    <div class="entry-image">
        <img id="op4-big-pic" style="width: 85%;" class="image_fade title-img" src="{{showpic1}}" alt="Standard Post with Image">
    </div>
    {{/if}}
    <div class="clear"></div>
    <!-- <BR> -->
    <div>
        {{product1_text}}
        <span class="my-breadcrumb">/</span>
        {{product2_text}}
        <span class="my-breadcrumb">/</span>
        {{product3_text}}
        <span class="my-breadcrumb">/</span>
        {{value_cht}}
    </div>
    <div class="clear"></div>
    <BR>
    <div class="tabs clearfix" id="tab-8">
        <ul class="p3-ul tab-nav clearfix">
        </ul>
        <div class="p3-tab-container tab-container">
        </div>
    </div>
    <div class="clear"></div>
    {{#if showpic2}}
    <div class="entry-image">
        <img id="op4-big-pic2" style="width: 85%;" class="image_fade title-img" src="{{showpic2}}" alt="Standard Post with Image">
    </div>
    {{/if}}
    <div class="entry-title">
        <!-- <h2><a href="blog-single-small.html">Lafayatte Colorado Senior Living</a></h2> -->
    {{#if title1}}
        <h2 id="title1">{{title1}}</h2>
    {{/if}}
    {{#if title2}}
        <h4 id="title2">{{title2}}</h4>
    {{/if}}
    </div>
    <BR>
    <BR>
    {{#if intro_title1}}
    <h4 id="intro_title1">{{intro_title1}}</h4>
    {{/if}}
    {{#if intro_content1}}
    <div class="entry-image">
        <div class="panel panel-default my-panel">
            <div id="intro_content1" class="panel-body">
                {{{intro_content1}}}
            </div>
        </div>
    </div>
    {{/if}}
    {{#if intro_title2}}
    <h4 id="intro_title2">{{intro_title2}}</h4>
    {{/if}}
    <div class="entry-image">
    {{#if intro_content2}}
        <div class="panel panel-default my-panel">
            <div class="panel-body" id="intro_content2">
                {{{intro_content2}}}
            </div>
        </div>
    {{/if}}
    </div>
    {{#if intro_title3}}
    <h4 id="intro_title3">{{intro_title3}}</h4>
    {{/if}}
    {{#if intro_content3}}
    <div class="entry-image">
        <div class="panel panel-default my-panel">
            <div class="panel-body" id="intro_content3">
                <!-- 第1~4 年： 每年7%分兩次付， 每半年付3.5%
                <BR> 第5/6年 ： 物業再融資， 逐步返還投資人之本金
                <BR> 第6/7年 ： 根據投資者多數決， 將物業出售，分配收益， 結束計畫離場 -->
                {{{intro_content3}}}
            </div>
        </div>
    </div>
    {{/if}}
    <!-- <div class="entry clearfix"> -->
    <div class="clearfix">
        {{#if youtube_url}}
        <div class="entry-image">
            <iframe id="youtube_url" width="560" height="315" src="http://www.youtube.com/embed/{{youtube_url}}" frameborder="0" allowfullscreen></iframe>
        </div>
        {{/if}}
        {{#if youtube_title}}
        <div class="entry-title">
            <h4 id="youtube_title">{{youtube_title}}</h4>
        </div>
        {{/if}}
        {{#if youtube_content}}
        <div class="entry-content">
            <p id="youtube_content">{{youtube_content}}</p>
        </div>
        {{/if}}
        {{#if video_url}}
        <div class="entry-title">
            <h4><a id="video_url" target="_blank" href="{{video_url}}">{{video_title}}</a></h4>
        </div>
        {{/if}}
        {{#if video_content}}
        <div class="entry-content">
            <p id="video_content">{{video_content}}</p>
        </div>
        {{/if}}
    </div>
    {{#if iscarousel}}
    <div class="clear"></div>
    <div class="div-owl fancy-title title-center title-dotted-border topmargin">
        <h3>產品圖片 </h3>
    </div>
    {{> product4_oc}}
    {{/if}}
</template>
