<template name="product">
<!--     <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="">
        <div class="modal-dialog" role="document" style="width: 70%;">
            <div class="modal-content">
                <form class="form-modal1">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">新增產品分類1</h4>
                    </div>
                    <div class="modal-body" style="margin: 15px;">
                        <div class="col_one_fifth nobottommargin">
                            <label for="code">項目</label>
                        </div>
                        <div class="col_two_fifth col_last nobottommargin">
                            <input name="value" id="code" type="text" class="text">
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="modal-footer">
                    	<span class="modal1-error"></span>
                        <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                        <button type="submit" class="my-btn-submit1 btn btn-primary">新增</button>
                    </div>
                </form>
            </div>
        </div>
    </div> -->
    <!-- <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="">
        <div class="modal-dialog" role="document" style="width: 70%;">
            <div class="modal-content">
                <form class="form-modal2">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">新增產品分類2</h4>
                    </div>
                    <div class="modal-body" style="margin: 15px;">
                        <div class="col_one_fifth nobottommargin">
                            <label for="name_cht">項目(中)</label>
                        </div>
                        <div class="col_two_fifth col_last nobottommargin">
                            <input name="name_cht" id="name_cht" type="text" class="text">
                        </div>
                        <div class="clear"></div>
                        <div class="col_one_fifth nobottommargin">
                            <label for="name_eng">項目(英)</label>
                        </div>
                        <div class="col_two_fifth col_last nobottommargin">
                            <input name="name_eng" id="name_eng" type="text" class="text">
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="modal-footer">
                    	<span class="modal2-error"></span>
                        <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                        <button type="submit" class="my-btn-submit2 btn btn-primary">新增</button>
                    </div>
                </form>
            </div>
        </div>
    </div> -->
    <!-- <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="">
        <div class="modal-dialog" role="document" style="width: 70%;">
            <div class="modal-content">
                <form class="form-modal3">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">新增產品分類3</h4>
                    </div>
                    <div class="modal-body" style="margin: 15px;">
                        <div class="col_one_fifth nobottommargin">
                            <label for="name_cht">項目(中)</label>
                        </div>
                        <div class="col_two_fifth col_last nobottommargin">
                            <input name="name_cht" id="name_cht" type="text" class="text">
                        </div>
                        <div class="clear"></div>
                        <div class="col_one_fifth nobottommargin">
                            <label for="name_eng">項目(英)</label>
                        </div>
                        <div class="col_two_fifth col_last nobottommargin">
                            <input name="name_eng" id="name_eng" type="text" class="text">
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="modal-footer">
                    	<span class="modal3-error"></span>
                        <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                        <button type="submit" class="my-btn-submit3 btn btn-primary">新增</button>
                    </div>
                </form>
            </div>
        </div>
    </div> -->
    <!-- <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="">
        <div class="modal-dialog" role="document" style="width: 70%;">
            <div class="modal-content">
                <form class="form-modal4">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">新增產品分類4</h4>
                    </div>
                    <div class="modal-body" style="margin: 15px;">
                        <div class="col_one_fifth nobottommargin">
                            <label for="name_cht">項目(中)</label>
                        </div>
                        <div class="col_two_fifth col_last nobottommargin">
                            <input name="name_cht" id="name_cht" type="text" class="text">
                        </div>
                        <div class="clear"></div>
                        <div class="col_one_fifth nobottommargin">
                            <label for="name_eng">項目(英)</label>
                        </div>
                        <div class="col_two_fifth col_last nobottommargin">
                            <input name="name_eng" id="name_eng" type="text" class="text">
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="modal-footer">
                    	<span class="modal4-error"></span>
                        <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                        <button type="submit" class="my-btn-submit4 btn btn-primary">新增</button>
                    </div>
                </form>
            </div>
        </div>
    </div> -->
    <h3>產品管理(內部)</h3>
    <!-- <h4>產品分類管理</h4> -->
    <div style="font-size: 15px;">直接拖曳可以調整順序</div>
    <div style="margin-top: 10px; ">
        <div class="col_one_third nobottommargin">
            <div>
                <label>產品分類1</label>
                <!-- <a style="float: right; margin-top: -4px;" href="#" class="right button button-3d button-mini button-rounded button-dirtygreen" data-toggle="modal" data-target="#myModal1">新增1</a> -->
                <a style="float: right; margin-top: -4px;" href="#" class="right button button-3d button-mini button-rounded button-dirtygreen btn-new1">新增1</a>
            </div>
            <div id="jProduct1"></div>
        </div>
        <div id="p2" class="col_two_third col_last nobottommargin">
            <div>
                <label>產品分類2</label>
                <!-- <a style="float: right; margin-top: -4px;" href="#" class="right button button-3d button-mini button-rounded button-dirtygreen" data-toggle="modal" data-target="#myModal2">新增2</a> -->
                <a style="float: right; margin-top: -4px;" href="#" class="right button button-3d button-mini button-rounded button-dirtygreen btn-new2">新增2</a>
            </div>
            <div id="jProduct2"></div>
        </div>
        <div class="clear" style="margin-bottom: 15px;"></div>
        <div id="p3" class="col_one_third nobottommargin">
            <div>
                <label>產品分類3</label>
                <!-- <a style="float: right; margin-top: -4px;" href="#" class="right button button-3d button-mini button-rounded button-dirtygreen" data-toggle="modal" data-target="#myModal3">新增3</a> -->
                <a style="float: right; margin-top: -4px;" href="#" class="right button button-3d button-mini button-rounded button-dirtygreen btn-new3">新增3</a>
            </div>
            <div id="jProduct3"></div>
        </div>
        <div id="p4" class="col_two_third col_last nobottommargin">
            <div>
                <label>產品分類4</label>
                <!-- <a style="float: right; margin-top: -4px;" href="#" class="right button button-3d button-mini button-rounded button-dirtygreen" data-toggle="modal" data-target="#myModal4">新增4</a> -->
                <a style="float: right; margin-top: -4px;" href="#" class="right button button-3d button-mini button-rounded button-dirtygreen btn-new4">新增4</a>
            </div>
            <div id="jProduct4"></div>
        </div>
    </div>
    <div class="clear"></div>
    <!-- <h4>產品內容管理</h4> -->
    <!-- <p>here</p> -->
</template>
