<template name="user">
    <div class="fancy-title title-border ">
        <h4>使用者資料</h4>
    </div>
    <table class="table table-hover">
        <thead>
            <tr class="success">
                <!-- <tr> -->
                <th colspan="4">基本資料</th>
                <!-- <th>First Name</th>
                              <th>Last Name</th>
                              <th>Username</th> -->
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>客戶編號</td>
                <td>Mark</td>
                <td>稱謂</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <td>中文姓名</td>
                <td>Jacob</td>
                <td>國籍</td>
                <td>@fat</td>
            </tr>
            <tr>
                <td>英文姓名</td>
                <td>Jacob</td>
                <td>國籍(2)</td>
                <td>@fat</td>
            </tr>
            <tr>
                <td>生日</td>
                <td>Jacob</td>
                <td>婚姻</td>
                <td>@fat</td>
            </tr>
            <tr>
                <td>身分證字號</td>
                <td>Jacob</td>
                <td>護照號碼</td>
                <td>@fat</td>
            </tr>
            <tr>
                <td>電子信箱(主要)</td>
                <td>Jacob</td>
                <td>聯給電話(M)</td>
                <td>@fat</td>
            </tr>
            <tr>
                <td>電子信箱(備用)</td>
                <td>Jacob</td>
                <td>聯給電話(H)</td>
                <td>@fat</td>
            </tr>
            <tr>
                <td>戶籍地址(中)</td>
                <td>Jacob</td>
                <td>戶籍地址(英)</td>
                <td>@fat</td>
            </tr>
            <tr>
                <td>通訊地址(中)</td>
                <td>Jacob</td>
                <td>通訊地址(英)</td>
                <td>@fat</td>
            </tr>
        </tbody>
    </table>
    <table class="table table-hover">
        <thead>
            <tr class="success">
                <th colspan="4">薪資明細</th>
                <!-- <th>First Name</th>
                              <th>Last Name</th>
                              <th>Username</th> -->
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>公司名稱</td>
                <td>Mark</td>
                <td>投資經驗</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <td>行業別</td>
                <td>Jacob</td>
                <td>投資目的</td>
                <td>@fat</td>
            </tr>
            <tr>
                <td>職稱</td>
                <td>Jacob</td>
                <td>備註</td>
                <td>@fat</td>
            </tr>
            <tr>
                <td>公司電話</td>
                <td>Jacob</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>公司地址(中)</td>
                <td>Jacob</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>公司地址(英)</td>
                <td>Jacob</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>公司傳真</td>
                <td>Jacob</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </tbody>
    </table>
    <table class="table table-hover">
        <thead>
            <tr class="success">
                <!-- <tr> -->
                <th colspan="4">佣金明細</th>
                <!-- <th>First Name</th>
                              <th>Last Name</th>
                              <th>Username</th> -->
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>檔案名稱</td>
                <td>Mark</td>
                <td>檔案大小</td>
                <td>@mdo</td>
            </tr>
        </tbody>
    </table>
    <table class="table table-hover">
        <thead>
            <tr class="success">
                <!-- <tr> -->
                <th colspan="4">表單專區</th>
                <!-- <th>First Name</th>
                              <th>Last Name</th>
                              <th>Username</th> -->
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>檔案名稱</td>
                <td>Mark</td>
                <td>檔案大小</td>
                <td>@mdo</td>
            </tr>
        </tbody>
    </table>
</template>
