<template name="voyasetting">
    <div class="fancy-title title-border ">
        <h3>新件設定</h3>
    </div>
    <select id="type_id" name="type_id" class="type_id sm-form-control" style="width: 200px;">
        <option value="1">Pru Life</option>
        <option value="2">VOYA</option>
        <option value="3">Colonial</option>
    </select>
    <BR>
    <div id="workdays"></div>
    <BR>
</template>