<template name="ForgotPassword">
	<h3>重設密碼</h3>

    <form action="/forgot" id="forgotPasswordForm" method="post">
      <input id="forgotPasswordEmail" type="text" name="email" placeholder="Email Address">
      <input class="btn-submit" type="submit" value="Send">
    </form>
    <div id="result"></div>
    <br>
    <br>
    <br>
</template>

<template name="ResetPassword">
	<h3>重設密碼</h3>

    {{#if resetPassword}}
    <form action="/reset-password"  id="resetPasswordForm" method="post">
        <input id="resetPasswordPassword" name="password" placeholder="New Password" type="password" >
        <input id="resetPasswordPasswordConfirm" name="password-confirm" placeholder="Confirm" type="password" >
        <input class="btn-submit" type="submit" value="Reset">
    </form>
    <!-- end #reset-password-form -->
    {{/if}}
    <br>
    <br>
    <br>

</template>

