<template name="portfolio1">
    <!-- 新案申請 保險-Pru Life -->    <table class="table">
        <thead>
            <tr class="success">
                <th colspan="4">{{product4_text}}</th>
            </tr>
            <tr class="info">
                <th colspan="4" class="warning">計劃資料</th>
            </tr>
        </thead>
        <colgroup>
            <col class="width-title bg-grey" />
            <col class="width-content bg-content" span="" />
            <col class="width-title bg-grey" span="" />
            <col class="width-content bg-content" />
        </colgroup>
        <tbody>
            <tr>
                <td>Policy No.</td>
                <td><span class="my-xedit my-xedit-text" id="account_num"></span></td>
                <td>現況</td>
                <td><span data-type="select" class="my-xedit my-xedit-sel" id="nowstatus" data-obj="objNowStatus"></span></td>
            </tr>
            <tr>
                <td>規劃投保金額</td>
                <td><span class="my-xedit my-xedit-text" id="assume_insure_price"></span></td>
                <td>生效日</td>
                <td><span data-type="combodate" class="my-xedit my-xedit-date" id="effective_date"></span></td>
            </tr>
            <tr>
                <td>確認投保金額</td>
                <td><span class="my-xedit my-xedit-text" id="confirmed_insure_price"></span></td>
                <td>Back Date</td>
                <td><span data-type="combodate" class="my-xedit my-xedit-date" id="backdate"></span></td>
            </tr>
            <tr>
                <td>繳費年期</td>
                <td><span class="my-xedit my-xedit-text" id="pay_year_num"></span></td>
                <td>CPA Letter</td>
                <td><span data-type="combodate" class="my-xedit my-xedit-date" id="cpaletter_date"></span></td>
            </tr>
            <tr>
                <td>臨時申請書</td>
                <td><span data-type="combodate" class="my-xedit my-xedit-date" id="temp_applybook_date"></span></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>體檢日期</td>
                <td><span data-type="combodate" class="my-xedit my-xedit-date" id="bodycheck_date"></span></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>體檢地點</td>
                <td><span class="my-xedit my-xedit-text" id="bodycheck_place"></span></td>
                <td>信託</td>
                <td><span data-type="select" class="my-xedit my-xedit-sel" id="is_trust" data-obj="objYN"></span></td>
            </tr>
            <tr>
                <td>簽約日期</td>
                <td><span data-type="combodate" class="my-xedit my-xedit-date" id="sign_date"></span></td>
                <td>信託種類</td>
                <td><span data-type="select" class="my-xedit my-xedit-sel" id="trust_isrevoke" data-obj="objIsRevoke"></span></td>
            </tr>
            <tr>
                <td>核保體位</td>
                <td><span data-type="select" class="my-xedit my-xedit-sel" id="bodychecktype3" data-obj="objBodyCheckType3"></span></td>
                <td>信託律師</td>
                <td><span class="my-xedit my-xedit-text" id="account_num"></span></td>
            </tr>
            <tr>
                <td>保單收執</td>
                <td><span data-type="combodate" class="my-xedit my-xedit-date" id="insurance_receive_date"></span></td>
                <td>信託名稱</td>
                <td><span class="my-xedit my-xedit-text" id="trust_name"></span></td>
            </tr>
            <tr>
                <td>保單交付</td>
                <td><span data-type="combodate" class="my-xedit my-xedit-date" id="insurance_give_date"></span></td>
                <td>Trustee</td>
                <td><span class="my-xedit my-xedit-text" id="trust_trustee"></span></td>
            </tr>
            <tr>
                <td>Online Access(帳號)</td>
                <td><span class="my-xedit my-xedit-text" id="onlineaccess_account"></span></td>
                <td>Grantor</td>
                <td><span class="my-xedit my-xedit-text" id="trust_grantor"></span></td>
            </tr>
            <tr>
                <td>Online Access(密碼)</td>
                <td><span class="my-xedit my-xedit-text" id="onlineaccess_password"></span></td>
                <td>SSN / ITIN</td>
                <td><span class="my-xedit my-xedit-text" id="trust_ssnitin"></span></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td></td>
                <td>信託帳戶</td>
                <td><span class="my-xedit my-xedit-text" id="trust_bankaccount"></span></td>
            </tr>
            <tr>
                <td>TP</td>
                <td><span class="my-xedit my-xedit-text" id="tp"></span></td>
                <td>帳號</td>
                <td><span class="my-xedit my-xedit-text" id="trust_account"></span></td>
            </tr>
            <tr>
                <td>供應商</td>
                <td><span id="provider_id"></span></td>
                <td>匯款路線號碼</td>
                <td><span class="my-xedit my-xedit-text" id="trust_routenum"></span></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>信託受益人1</td>
                <td><span data-placeholder="NAME" class="my-xedit my-xedit-text" id="trust_beneficial1_name"></span>&nbsp;&nbsp;
                <span data-placeholder="     %" class="my-xedit my-xedit-text" id="trust_beneficial1_percent"></span>%&nbsp;&nbsp;
                <span data-placeholder="關係" class="my-xedit my-xedit-text" id="trust_beneficial1_relationship"></span></td>
            </tr>
            <tr>
                <td>項目狀況</td>
                <td><span data-type="select" class="my-xedit my-xedit-sel" id="nowphase" data-obj="objNowPhase"></span></td>
                <td>信託受益人2</td>
                <td><span data-placeholder="NAME" class="my-xedit my-xedit-text" id="trust_beneficial2_name"></span>&nbsp;&nbsp;
                <span data-placeholder="     %" class="my-xedit my-xedit-text" id="trust_beneficial2_percent"></span>%&nbsp;&nbsp;
                <span data-placeholder="關係" class="my-xedit my-xedit-text" id="trust_beneficial2_relationship"></span></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td></td>
                <td>信託受益人3</td>
                <td><span data-placeholder="NAME" class="my-xedit my-xedit-text" id="trust_beneficial3_name"></span>&nbsp;&nbsp;
                <span data-placeholder="     %" class="my-xedit my-xedit-text" id="trust_beneficial3_percent"></span>%&nbsp;&nbsp;
                <span data-placeholder="關係" class="my-xedit my-xedit-text" id="trust_beneficial3_relationship"></span></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td></td>
                <td>信託受益人4</td>
                <td><span data-placeholder="NAME" class="my-xedit my-xedit-text" id="trust_beneficial4_name"></span>&nbsp;&nbsp;
                <span data-placeholder="     %" class="my-xedit my-xedit-text" id="trust_beneficial4_percent"></span>%&nbsp;&nbsp;
                <span data-placeholder="關係" class="my-xedit my-xedit-text" id="trust_beneficial4_relationship"></span></td>
            </tr>
           <!--  <tr>
                <td>閉鎖期</td>
                <td><span data-type="select" class="my-xedit my-xedit-sel" id="lockmonth" data-obj="objLockMonth"></span></td>
                <td>最後更新日期</td>
                <td>{{nowUpdatedAt}}</td>
            </tr> -->
        </tbody>
    </table>
    <table class="table">
        <thead>
            <tr class="info">
                <!-- <tr> -->
				<th colspan="8" class="warning">繳費資料 (選擇「繳費年期」 變更此欄列數)</th>
            </tr>
            <tr class="active">
                <!-- <tr> -->
                <th>週期</th>
                <th>規劃繳費日期</th>
                <th>規劃繳費金額</th>
                <th>實際繳費日期</th>
                <th>實際繳費金額</th>
                <th>繳費方式</th>
				<th>繳費狀態</th>
                <th>備註</th>
            </tr>
        </thead>
        <colgroup>
            <col class="width-title bg-grey" />
			<col class="bg-content" span="" />
            <col class="bg-content" span="" />
            <col class="bg-content" span="" />
            <col class="bg-content" span="" />
            <col class="bg-content" span="" />
            <col class="bg-content" span="" />
            <col class="bg-content" />
        </colgroup>
        <tbody id="arrPaymentRecord">
            <tr>
                <td>&nbsp;</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <table class="table">
        <thead>
            <tr class="info">
                <th colspan="7" class="warning">客服跟進事項</th>
            </tr>
        </thead>
    </table>
    <div id="e_followservice"></div>
    <table class="table">
        <thead>
            <tr class="info">
                <th class="warning">附加檔案</th>
            </tr>
        </thead>
        <tbody class="on-editing">
            <tr>
                <td>
                    <!-- <input type="file" multiple="" name="myfile" class="myFileInput sm-form-control"> -->
                    <input id="input-3" name="input2[]" type="file" class="file file_bag file-loading" multiple data-show-upload="false" data-show-caption="true" data-show-preview="true">
                    <BR>
                    <a href="#" class="upload button button-3d button-small button-rounded button-teal button-dark fright"><i class="icon-external-link"></i>Upload</a>
                    {{#each files}}
                    <!-- <h4></h4> -->
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{percent_uploaded}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percent_uploaded}}%;">
                            {{file.original_name}} {{percent_uploaded}}%
                        </div>
                    </div>
                    {{/each}}
                </td>
            </tr>
        </tbody>
    </table>
    <div id="cFiles"></div>
</template>