<template name="portfolio6">
    <!-- <h4>FPI架構</h4> -->
    <table class="table">
        <thead>
            <tr class="success">
                <!-- <tr> -->
				<th colspan="4">{{product4_text}}</th>
            </tr>
            <tr class="info">
                <!-- <tr> -->
				<th colspan="4" class="warning">計劃資料</th>
            </tr>
        </thead>
		<colgroup>
			<col class="width-title bg-grey" />
			<col class="width-content bg-content" span="" />
			<col class="width-title bg-grey" span="" />
			<col class="width-content bg-content" />
		</colgroup>
        <tbody>
            <tr>
                <td>供應商</td>
                <td><span id="provider_id"></span> <BR><span class="" id="provider_engtext"></span></td>
                <td>生日</td>
                <!-- <td><span class="my-xedit my-xedit-text" id="apply_birthday"></span></td> -->
                <td><span data-type="combodate" class="my-xedit my-xedit-date" id="apply_birthday"></span></td>
            </tr>
            <tr>
                <td>產品名稱</td>
                <!-- <td><span class="my-xedit my-xedit-text" id="product4_text"></span></td> -->
                <td><span class="" id="product4_text"></span> <BR><span class="" id="product4_engtext"></span></td>
                <td>E-mail</td>
                <td><span class="my-xedit my-xedit-text" id="apply_email"></span></td>
            </tr>
            <tr>
                <td>計劃號碼</td>
                <td><span class="account_num my-xedit my-xedit-text" id="account_num"></span></td>
                <td>連絡電話</td>
                <td><span class="my-xedit my-xedit-text" id="apply_telephone"></span></td>
            </tr>
            <tr>
                <td>保單號碼</td>
                <td><span class="my-xedit my-xedit-text" id="account_num2"></span></td>
                <td>地址</td>
                <td><span class="my-xedit my-xedit-text" id="apply_addr"></span></td>
            </tr>
            <tr>
                <td>第一(或唯一)保單持有人</td>
                <td><span class="my-xedit my-xedit-text" id="policy_firstperson"></span></td>
                <td>護照號碼</td>
                <td><span class="my-xedit my-xedit-text" id="apply_passport"></span></td>
            </tr>
            <tr>
                <td>第二保單持有人</td>
                <td><span class="my-xedit my-xedit-text" id="policy_secondperson"></span></td>
                <td>手機號碼</td>
                <td><span class="my-xedit my-xedit-text" id="apply_cellphone"></span></td>
            </tr>
            <tr style="border-top: 2px solid #333 !important;">
                <td>保單生效日</td>
                <td><span data-type="combodate" class="my-xedit my-xedit-date" id="policy_effective_date"></span></td>
                <td>HSBC帳戶姓名</td>
                <td><span class="my-xedit my-xedit-text" id="hsbc_account_name"></span></td>
            </tr>
            <tr>
                <td>保單到期日</td>
                <td><span data-type="combodate" class="my-xedit my-xedit-date" id="policy_end_date"></span></td>
                <td>HSBC帳戶號碼</td>
                <td><span class="my-xedit my-xedit-text" id="hsbc_account_num"></span></td>
            </tr>
            <tr>
                <td>保單年期</td>
                <td>
                <!-- <span data-type="select" class="my-xedit my-xedit-sel" id="policy_period_year" data-obj="objYearNum"></span> -->
                <span class="my-xedit my-xedit-text" id="policy_period_year"></span> 年 /
                <span data-type="select" class="my-xedit my-xedit-sel" id="policy_period_month" data-obj="objPayMonthNum"></span></td>
                <td>信用卡號碼</td>
                <td><span class="my-xedit my-xedit-text" id="creditcard_num"></span></td>
            </tr>
            <tr>
                <td>保單狀態</td>
                <td><span data-type="select" class="my-xedit my-xedit-sel" id="insurance_status" data-obj="objInsuranceStatus"></span></td>
                <td>信用卡效期</td>
                <td><span data-type="combodate" class="my-xedit-credit-date" id="creditcard_date"></span></td>
            </tr>
            <tr>
                <td>繳款狀態</td>
                <td><span data-type="select" class="my-xedit my-xedit-sel" id="insurancepay_status" data-obj="objInsurancePayStatus"></span></td>
                <td>信用卡銀行</td>
                <td><span class="my-xedit my-xedit-text" id="creditcard_bank"></span></td>
            </tr>
            <tr>
                <td>終止繳費日期</td>
                <td><span data-type="combodate" class="my-xedit my-xedit-date" id="policy_endpay_date"></span></td>
                <td>發卡銀行國家</td>
                <td><span class="my-xedit my-xedit-text" id="creditcard_bankname"></span></td>
            </tr>
            <tr>
                <td>下次繳費日期</td>
                <td><span data-type="combodate" class="my-xedit my-xedit-date" id="policy_nextpay_date"></span></td>
                <td>信用卡持有人名稱</td>
                <td><span class="my-xedit my-xedit-text" id="creditcard_name"></span></td>
            </tr>
            <tr>
                <td>供款方式</td>
                <td><span data-type="select" class="my-xedit my-xedit-sel" id="paymethod_fpi" data-obj="objPayMethodFPI"></span></td>
                <td>信用卡持有人地址</td>
                <td><span class="my-xedit my-xedit-text" id="creditcard_addr"></span></td>
            </tr>
            <tr>
                <td>供款週期</td>
                <td><span data-type="select" class="my-xedit my-xedit-sel" id="payperiod_fpi" data-obj="objPayPeriodFPI"></span></td>
                <td>保單幣別</td>
                <td><span data-type="select" class="my-xedit my-xedit-sel" data-obj="objSalaryCash" id="policy_currency_type"></span></td>
            </tr>
          <!--   <tr>
                <td>閉鎖期 (月)</td>
                <td><span data-type="select" class="my-xedit my-xedit-sel" id="lockmonth" data-obj="objLockMonth"></span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="my-xedit my-xedit-text" id="lockmonth2"></span></td>
                <td></td>
                <td></td>
            </tr> -->
            <tr>
                <td>項目狀況</td>
                <td><span data-type="select" class="my-xedit my-xedit-sel" id="nowphase" data-obj="objNowPhase"></span></td>
                <td>最後更新日期</td>
                <td>{{nowUpdatedAt}}</td>
            </tr>
        </tbody>
    </table>
    <table class="table">
        <thead>
            <tr class="info">
                <!-- <tr> -->
				<th colspan="9" class="warning">基金配置</th>
            </tr>
            <tr class="active">
                <!-- <tr> -->
				<th>現時基金配置</th>
                <th>Unit Type</th>
                <th>單價日期</th>
                <th>單價</th>
                <th>單位數</th>
                <th>幣別</th>
                <th>淨值</th>
                <th>結餘(USD)</th>
                <th>百分比</th>
            </tr>
        </thead>
		<colgroup>
			<col class="width-title bg-grey" />
			<col class="bg-content" span="" />
			<col class="bg-content" span="" />
			<col class="bg-content" span="" />
			<col class="bg-content" span="" />
            <col class="bg-content" span="" />
            <col class="bg-content" span="" />
            <col class="bg-content" span="" />
			<col class="bg-content" span="" />
		</colgroup>
        <tbody id="arrFundConfigure">
        </tbody>
        <tfoot>
            <tr>
                <td colspan="7" class="bg-grey" style="text-align: right">現時戶口總值&nbsp;</td>
                <!-- <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td> -->
                <!-- <td class="bg-grey"></td> -->
                <td id="total_ValuationCurrencyValue"></td>
                <td></td>
            </tr>
        </tfoot>
    </table>
    <table class="table">
        <colgroup>
            <col class="width-title bg-grey" />
            <col class="width-content bg-content" span="" />
            <col class="width-title bg-grey" span="" />
            <col class="width-content bg-content" />
        </colgroup>
        <tbody>
            <tr style="border-top: 2px solid #333;">
                <td>現時定額供款</td>
                <td><span class="my-xedit my-xedit-number" id="fpi_now_same_payment"></span></td>
                <td>總提款金額</td>
                <td><span class="my-xedit my-xedit-number" id="fpi_all_withdraw_money"></span></td>
            </tr>
            <tr>
                <td>已供款總額</td>
                <td><span class="my-xedit my-xedit-number" id="fpi_done_withdraw_money"></span></td>
                <td>可提款總額 (Total "A" UNITS)</td>
                <td>$<span class="" id="fpi_able_withdraw_money"></span></td>
            </tr>
            <tr>
                <td>友誠更新日期</td>
                <td><span class="" id="fpi_data_updatedate"></span></td>
                <td>帳戶投資本益比 %</td>
                <td><span class="" id="account_invest_per"></span></td>
            </tr>
        </tbody>
    </table>
    <table class="table">
        <colgroup>
            <col class="width-title bg-grey" />
            <col class="width-content bg-content" span="" />
            <col class="width-title bg-grey" span="" />
            <col class="width-content bg-content" />
        </colgroup>
        <tbody>
            <tr style="border-top: 2px solid #333;">
                <td> </td>
                <td>
                    <table style="width: 100%">
                        <tr>
                            <td width="30%">中文姓名</td>
                            <td width="30%">英文姓名</td>
                            <td width="20%">比例</td>
                            <td width="20%">關係</td>
                        </tr>
                    </table>
                </td>
                <td>解約試算</td>
                <td><span class="my-xedit my-xedit-text" id="terminal_cal"></span></td>
            </tr>
            <tr>
                <td>受益人1</td>
                <td>
                    <table style="width: 100%">
                        <tr>
                            <td width="30%"><span data-mode="popup" data-placeholder="NAME" class="my-xedit my-xedit-text" id="beneficial1_name"></span></td>
                            <td width="30%"><span data-mode="popup" data-placeholder="NAME" class="my-xedit my-xedit-text" id="beneficial1_name2"></span></td>
                            <td width="20%" style="text-align: right; padding-right: 10px;"><span data-mode="popup" data-placeholder="     %" class="my-xedit my-xedit-text" id="beneficial1_percent"></span> %</td>
                            <td width="20%"><span data-mode="popup" data-placeholder="關係" class="my-xedit my-xedit-text" id="beneficial1_relationship"></span></td>
                        </tr>
                    </table>
                </td>
                <td>解約/違約金</td>
                <td><span class="my-xedit my-xedit-text" id="terminal_price"></span></td>
            </tr>
            <tr>
                <td>受益人2</td>
                <td>
                    <table style="width: 100%">
                        <tr>
                            <td width="30%"><span data-mode="popup" data-placeholder="NAME" class="my-xedit my-xedit-text" id="beneficial2_name"></span></td>
                            <td width="30%"><span data-mode="popup" data-placeholder="NAME" class="my-xedit my-xedit-text" id="beneficial2_name2"></span></td>
                            <td width="20%" style="text-align: right; padding-right: 10px;"><span data-mode="popup" data-placeholder="     %" class="my-xedit my-xedit-text" id="beneficial2_percent"></span> %</td>
                            <td width="20%"><span data-mode="popup" data-placeholder="關係" class="my-xedit my-xedit-text" id="beneficial2_relationship"></span></td>
                        </tr>
                    </table>
                </td>
                <td>解約剩餘價值</td>
                <td><span class="my-xedit my-xedit-text" id="terminal_restvalue"></span></td>
            </tr>
            <tr>
                <td>受益人3&nbsp;</td>
                <td>
                    <table style="width: 100%">
                        <tr>
                            <td width="30%"><span data-mode="popup" data-placeholder="NAME" class="my-xedit my-xedit-text" id="beneficial3_name"></span></td>
                            <td width="30%"><span data-mode="popup" data-placeholder="NAME" class="my-xedit my-xedit-text" id="beneficial3_name2"></span></td>
                            <td width="20%" style="text-align: right; padding-right: 10px;"><span data-mode="popup" data-placeholder="     %" class="my-xedit my-xedit-text" id="beneficial3_percent"></span> %</td>
                            <td width="20%"><span data-mode="popup" data-placeholder="關係" class="my-xedit my-xedit-text" id="beneficial3_relationship"></span></td>
                        </tr>
                    </table>
                </td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <table class="table">
        <thead>
            <tr class="info">
                <!-- <tr> -->
                <th colspan="8" class="warning">常用提款受款銀行帳戶</th>
            </tr>
            <tr class="active">
                <th>編號</th>
                <th>銀行名稱</th>
                <th>銀行地址</th>
                <th>戶口持有人姓名</th>
                <th>戶口號碼</th>
                <th>SWIFT / BIC 編碼(如適用)</th>
                <th>ABA編碼 (美國付款)</th>
                <th>附言</th>
            </tr>
        </thead>
        <colgroup>
            <col class="width-title bg-grey" />
            <col class="bg-content" span="" />
            <col class="bg-content" span="" />
            <col class="bg-content" span="" />
            <col class="bg-content" span="" />
            <col class="bg-content" span="" />
            <col class="bg-content" span="" />
            <col class="bg-content" span="" />
        </colgroup>
        <tbody id="arrWithdrawBankAccount">
        </tbody>
        <tfoot>
            <tr class="on-editing">
                <td>&nbsp;</td>
                <td></td>
                <td></td>
                <td></td>
                <td>&nbsp;</td>
                <td></td>
                <td></td>
                <td style="text-align: right;">
                    <a href="#" class="addWithdrawBankAccount button button-3d button-mini button-rounded button-leaf"><i class="icon-plus"></i> 新增</a>
                </td>
            </tr>
        </tfoot>
    </table>
    <table class="table">
        <thead>
            <tr class="info">
                <th colspan="7" class="warning">客服跟進事項</th>
            </tr>
        </thead>
    </table>
    <div id="e_followservice"></div>
    <table class="table">
        <thead>
            <tr class="info">
                <th class="warning">保單資料</th>
            </tr>
        </thead>
        <tbody class="on-editing">
            <tr>
                <td>
                    <!-- <input type="file" multiple="" name="myfile" class="myFileInput sm-form-control"> -->
                    <input id="input-3" name="input2[]" type="file" class="file file_bag file-loading" multiple data-show-upload="false" data-show-caption="true" data-show-preview="true">
                    <BR>
                    <a href="#" class="upload button button-3d button-small button-rounded button-teal button-dark fright"><i class="icon-external-link"></i>Upload</a>
                    {{#each files}}
                    <!-- <h4></h4> -->
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{percent_uploaded}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percent_uploaded}}%;">
                            {{file.original_name}} {{percent_uploaded}}%
                        </div>
                    </div>
                    {{/each}}
                </td>
            </tr>
        </tbody>
    </table>
    <div id="cFiles"></div>
    <br>
    <br>
<!--
    <textarea id="loadfund-text" style=" width: 80%; min-width:500px; height: 200px;"></textarea>
    <br>
    <button style="margin-top:0px;" type="button" id="loadfund-btn" name="quick-contact-form-submit" class="button button-small button-3d button-leaf" value="button">
            <i class="icon-plus"></i> 讀入基金配置資料</button> -->

</template>