<template name="portfolio4">
    <!-- <h4>新案申請 英國房產-產權</h4> -->
    <table class="table">
        <thead>
            <tr class="success">
                <!-- <tr> -->
                <th colspan="4">{{product4_text}}</th>
            </tr>
            <tr class="info">
                <!-- <tr> -->
                <th colspan="4" class="warning">計劃資料</th>
            </tr>
        </thead>
        <colgroup>
            <col class="width-title bg-grey" />
            <col class="width-content bg-content" span="" />
            <col class="width-title bg-grey" span="" />
            <col class="width-content bg-content" />
        </colgroup>
        <tbody>
            <tr>
                <td>(GT) Policy No. </td>
                <td><span class="my-xedit my-xedit-text" id="account_num"></span></td>
                <td>預購書</td>
                <td><span data-type="combodate" class="my-xedit my-xedit-date" id="prebuybook_date"></span></td>
            </tr>
            <tr>
                <td>單位房號</td>
                <td><span class="my-xedit my-xedit-text" id="unitroomnum"></span></td>
                <td>帳戶配息確認單</td>
                <td><span data-type="combodate" class="my-xedit my-xedit-date" id="accountconfirm_date"></span></td>
            </tr>
            <tr id="ic-link">
                <td>投資種類</td>
                <td>產權</td>
                <td>契約書交付</td>
                <td><span data-type="combodate" class="my-xedit my-xedit-date" id="givecontract_date"></span></td>
            </tr>
            <tr>
                <td>投資金額</td>
                <td><span class="my-xedit my-xedit-text" id="invest_money"></span></td>
                <td>本金返還</td>
                <td><span data-type="combodate" class="my-xedit my-xedit-date" id="return_principal_date"></span></td>
            </tr>
            <tr>
                <td>生效日</td>
                <td><span data-type="combodate" class="my-xedit my-xedit-date" id="effective_date"></span></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="info">
                <th colspan="4" class="warning">匯款記錄</th>
            </tr>
            <tr>
                <td>(原)匯款日</td>
                <td><span data-type="combodate" class="my-xedit my-xedit-date" id="payment_date"></span></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>匯款日/金額</td>
                <td>
                    <div id="arrPaymentDateMoney"></div> <a href="#" class="addPaymentDateMoney on-editing">[+]</a>
                </td>
                <td>匯款方式</td>
                <td><span class="my-xedit my-xedit-text" id="payment_method"></span></td>
            </tr>
            <tr>
                <td>收款憑證</td>
                <td><span data-type="combodate" class="my-xedit my-xedit-date" id="receive_money_date"></span></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>利率條件</td>
                <td><span data-type="select" class="my-xedit my-xedit-sel" id="interest_condition" data-obj="Interestcondition"></span> <a href="/interestcondition" target="_blank">[查詢代號明細]</a></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>投資年限</td>
                <td><span class="my-xedit my-xedit-text" id="pay_year_num"></span></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>配息週期</td>
                <td><span data-type="select" class="my-xedit my-xedit-sel" id="giveinterest_period" data-obj="objPaymentFreqYear"></span></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>供應商</td>
                <td><span id="provider_id"></span></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>項目狀況</td>
                <td><span data-type="select" class="my-xedit my-xedit-sel" id="nowphase" data-obj="objNowPhase"></span></td>
                <td style="background-color: #fef18a">UK Tax FORM</td>
                <td>
                    簽署日期：<span data-type="combodate" class="my-xedit my-xedit-date" id="irs_w7_sign_date"></span><BR>
                    狀態：<span data-type="select" class="my-xedit my-xedit-sel" id="irs_w7_status" data-obj="objStatusP5"></span><BR>
                    遞交日期：<span data-type="combodate" class="my-xedit my-xedit-date" id="irs_w7_sent_date"></span><BR>
                    備註：<span class="my-xedit my-xedit-text" id="irs_ps"></span>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td style="background-color: #fef18a">UK Tax No.</td>
                <td>
                    輸入文字(編號)：<span class="my-xedit my-xedit-text" id="itin_text"></span><BR>
                    狀態：<span data-type="select" class="my-xedit my-xedit-sel" id="itin_status" data-obj="objStatusP5"></span><BR>
                    遞交日期：<span data-type="combodate" class="my-xedit my-xedit-date" id="itin_date"></span><BR>
                    備註：<span class="my-xedit my-xedit-text" id="itin_ps"></span>
                </td>
            </tr>
         <!--    <tr>
                <td>閉鎖期</td>
                <td><span data-type="select" class="my-xedit my-xedit-sel" id="lockmonth" data-obj="objLockMonth"></span></td>
                <td>最後更新日期</td>
                <td>{{nowUpdatedAt}}</td>
            </tr> -->
        </tbody>
    </table>
    <table class="table">
        <thead>
            <tr class="info">
                <!-- <tr> -->
                <th colspan="4" class="warning">配息銀行帳戶</th>
            </tr>
        </thead>
        <colgroup>
            <col class="width-title bg-grey" />
            <col class="bg-content" span="" />
            <col class="bg-content" span="" />
            <col class="bg-content" />
        </colgroup>
        <tbody>
            <tr>
                <td>Beneficiary Bank Location</td>
                <td><span class="my-xedit my-xedit-text" id="beneficiary_bank_location"></span></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Beneficiary Bank Name</td>
                <td><span class="my-xedit my-xedit-text" id="beneficiary_bank_name"></span></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Beneficiary Bank Address</td>
                <td><span class="my-xedit my-xedit-text" id="beneficiary_bank_address"></span></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>SWIFT code</td>
                <td><span class="my-xedit my-xedit-text" id="swift_code"></span></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Beneficiary Account Number</td>
                <td><span class="my-xedit my-xedit-text" id="beneficiary_account_number"></span></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Beneficiary Name</td>
                <td><span class="my-xedit my-xedit-text" id="beneficiary_name"></span></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <table class="table">
        <thead>
            <tr class="info">
                <!-- <tr> -->
                <th colspan="8" class="warning">配息記錄</th>
            </tr>
            <tr class="active">
                <th>&nbsp;&nbsp;年度&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;期別</th>
                <th>利率條件</th>
                <th>配息日期</th>
                <th>配息金額</th>
                <th>&nbsp;&nbsp;年度&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;期別</th>
                <th>利率條件</th>
                <th>配息日期</th>
                <th>配息金額</th>
            </tr>
        </thead>
        <colgroup>
            <col class="width-title bg-grey" />
            <col class="bg-content" span="" />
            <col class="bg-content" span="" />
            <col class="bg-content" span="" />
            <col class="width-title bg-grey" />
            <col class="bg-content" span="" />
            <col class="bg-content" span="" />
            <col class="bg-content" />
        </colgroup>
        <tbody id="arrGiveInterestRecord">
            <tr>
                <td>&nbsp;</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
        <tfoot>
            <tr class="on-editing">
                <td>&nbsp;</td>
                <td></td>
                <td></td>
                <td></td>
                <td>&nbsp;</td>
                <td></td>
                <td></td>
                <td style="text-align: right;">
                    <a href="#" class="addGiveInterestRecord button button-3d button-mini button-rounded button-leaf"><i class="icon-plus"></i> 新增</a>
                </td>
            </tr>
        </tfoot>
    </table>
    <table class="table">
        <thead>
            <tr class="info">
                <th colspan="7" class="warning">客服跟進事項</th>
            </tr>
        </thead>
    </table>
    <div id="e_followservice"></div>
    <table class="table">
        <thead>
            <tr class="info">
                <th class="warning">附加檔案</th>
            </tr>
        </thead>
        <tbody class="on-editing">
            <tr>
                <td>
                    <!-- <input type="file" multiple="" name="myfile" class="myFileInput sm-form-control"> -->
                    <input id="input-3" name="input2[]" type="file" class="file file_bag file-loading" multiple data-show-upload="false" data-show-caption="true" data-show-preview="true">
                    <BR>
                    <a href="#" class="upload button button-3d button-small button-rounded button-teal button-dark fright"><i class="icon-external-link"></i>Upload</a>
                    {{#each files}}
                    <!-- <h4></h4> -->
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{percent_uploaded}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percent_uploaded}}%;">
                            {{file.original_name}} {{percent_uploaded}}%
                        </div>
                    </div>
                    {{/each}}
                </td>
            </tr>
        </tbody>
    </table>
    <div id="cFiles"></div>

</template>