<template name="portfolio0">
<h3>本投資產品未選定樣板</h3>
<h4>目前分類 </h4>
<p>{{product1_text}} -> {{product2_text}} -> {{product3_text}} -> {{product4_text}}</p><p>請至 <a href="/product">產品頁面(內部)</a> 中，產品分類4去定義樣版</p>
<BR>
</template>