<template name="ptemplate">
    <style type="text/css">
	.bg-grey{
		background-color: #eeeeee;
	}
    .width-title{
        width: 15%;
    }
    .width-content{
        width: 35%;
    }
	table{
		margin-bottom: 0px !important;
	}
    </style>

    <div class="fancy-title title-border ">
        <h4>{{getTemplateName}}</h4>
    </div>
    <BR> {{> Template.dynamic template=getPanel }}
    <BR>
    <BR>
</template>