<template name="menu_inhouse">
    {{#if isInRole 'auth_fin-read'}}
    <li>
        <a href="#">
            <div>財務管理</div>
        </a>
        <ul>
            <!-- <li>
                <a href="/financial">
                    <div>財務管理 (本月)</div>
                </a>
            </li> -->
            <li>
                <a href="/financiallist">
                    <div>財務管理</div>
                </a>
            </li>
            <li>
                <a href="/fin_sales">
                    <div>業績管理</div>
                </a>
            </li>
            <!-- <li>
                <a href="/fin_chartist">
                    <div>財務分析</div>
                </a>
            </li> -->
           <!--  <li>
                <a href="/account">
                    <div>會計科目</div>
                </a>
            </li>
            <li>
                <a href="/bankacc">
                    <div>會計帳本</div>
                </a>
            </li> -->
        </ul>
    </li>
    {{/if}}
    {{#if isInRole 'auth_hr-read'}}
    <li class="">
        <a href="#">
            <div>人資管理</div>
        </a>
        <ul>
            <li>
                <a href="/hrform">
                    <div>人事規章</div>
                </a>
            </li>
            <li>
                <a href="/blank_form">
                    <div>空白表單</div>
                </a>
            </li>
            <li>
                <a href="/employee/{{userid}}">
                    <div>員工資料</div>
                </a>
            </li>
            {{#if department_id}}
            <li>
                <a href="/dayoff/{{department_id}}">
                    <div>差勤申請</div>
                </a>
            </li>
            {{else}}
            <li>
                <a href="/employee/{{userid}}">
                    <div>差勤申請(請先設定事業群)</div>
                </a>
            </li>
            {{/if}}
            {{#if isInRole 'auth_hr-edit'}}
            <li>
                <a href="/hrform_management">
                    <div>* 人事規章管理</div>
                </a>
            </li>
            <li>
                <a href="/hrlist">
                    <div>* 差勤管理</div>
                </a>
            </li>
            <li>
                <a href="/employeelist">
                    <div>* 員工列表</div>
                </a>
            </li>
            <li>
                <a href="/authority">
                    <div>* 權限設定</div>
                </a>
            </li>
            <li>
                <a href="/businessgroup">
                    <div>* 隸屬事業群設定</div>
                </a>
            </li>
            {{/if}}
        </ul>
    </li>
    {{/if}}
    {{#if isInRole 'auth_cus-read'}}
    <li class="">
        <a href="#">
            <div>客戶管理</div>
        </a>
        <ul>
            <li>
                <a href="/clientslist2">
                    <div>客戶列表</div>
                </a>
            </li>
            <li>
                <a href="/clientslist">
                    <div>客戶投資內容</div>
                </a>
            </li>
            <li>
                <a href="/follownewcase">
                    <div>新件進度</div>
                </a>
            </li>
          <!--   <li>
                <a href="/prulifesetting">
                    <div>Pru life 設定</div>
                </a>
            </li>
            <li>
                <a href="/colonialsetting">
                    <div>Colonial 設定</div>
                </a>
            </li> -->
            <!-- <li>
                <a href="/user">
                    <div>客戶個人資料</div>
                </a>
            </li> -->
        </ul>
    </li>
    {{/if}}
    {{#if isInRole 'auth_as-read'}}
    <li class="">
        <!-- <a href="/afterservice"> -->
        <a href="#">
            <div>售後服務</div>
        </a>
        <ul>
            <li>
                <a href="/email">
                    <div>電子郵件</div>
                </a>
            </li>
            <li>
                <a href="/applyservice">
                    <div>案件申請</div>
                </a>
            </li>
            <li>
                <a href="/followservice">
                    <div>案件追蹤</div>
                </a>
            </li>
            <li>
                <a href="/payreminder">
                    <div>繳費提醒</div>
                </a>
            </li>
            <li>
                <a href="/birthreminder">
                    <div>生日提醒</div>
                </a>
            </li>
            <!-- <li>
                <a href="/renewalreminder">
                    <div>續期保費匯款指示</div>
                </a>
            </li> -->
            <li>
                <a href="/fundtransfer">
                    <div>基金轉換</div>
                </a>
            </li>
            <!-- <li>
                <a href="/realestatecount">
                    <div>房產配息試算</div>
                </a>
            </li> -->
            <!-- <li>
                <a href="/assetsallocation">
                    <div>資產配置表</div>
                </a>
            </li> -->
            <li>
                <a href="/interestcondition">
                    <div>配息條件</div>
                </a>
            </li>
            <li>
                <a href="/reportcenter">
                    <div>文件追蹤</div>
                </a>
            </li>
            <li>
                <a href="/formcenter">
                    <div>表單中心</div>
                </a>
            </li>
        </ul>
    </li>
    {{/if}}
    {{#if isInRole 'auth_prod-read'}}
    <li>
        <a href="#">
            <div>產品中心</div>
        </a>
        <ul>
            <li>
                <a href="/productinfo">
                    <div>產品資訊</div>
                </a>
            </li>
            <li>
                <a href="/productcompare">
                    <div>產品比較</div>
                </a>
            </li>
        </ul>
    </li>
    {{/if}}
    {{#if isInRole 'auth_web-read'}}
    <li>
        <a href="#">
            <div>網站管理</div>
        </a>
        <ul>
            <li>
                <a href="/homepics">
                    <div>首頁輪播照片</div>
                </a>
            </li>
            <li>
                <a href="/oproduct1">
                    <div>產品管理(外部) 選單</div>
                </a>
            </li>
            <li>
                <a href="/oproduct">
                    <div>產品管理(外部) 內容</div>
                </a>
            </li>
            <li>
                <a href="/product">
                    <div>產品管理(內部)</div>
                </a>
            </li>
            <li>
                <a href="/provider">
                    <div>供應商管理</div>
                </a>
            </li>
            <li>
                <a href="/announce">
                    <div>公告管理</div>
                </a>
            </li>
            <li>
                <a href="/voyasetting">
                    <div>新件設定管理</div>
                </a>
            </li>
            <li>
                <a href="/emailauto">
                    <div>電子郵件管理</div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div>資料修改記錄</div>
                </a>
            </li>
        </ul>
    </li>
    {{/if}}
</template>
<template name="menu_guest">
    <li class="">
        <a href="http://www.hanburyifa.com/tc/Investmentphilosophy.php" target="_blank">
            <div>近期活動</div>
        </a>
    </li>
    <li class="">
        <a href="http://www.hanburyifa.com/tc/Investmentphilosophy.php" target="_blank">
            <div>交友後續</div>
        </a>
    </li>
    <li class="">
        <a href="http://www.hanburyifa.com/tc/Investmentphilosophy.php" target="_blank">
            <div>流程辦法</div>
        </a>
    </li>
    <li class="">
        <a href="http://www.hanburyifa.com/tc/Investmentphilosophy.php" target="_blank">
            <div>福委合作</div>
        </a>
    </li>
    <li class="">
        <a href="http://www.hanburyifa.com/tc/Contactus.php" target="_blank">
            <div>連絡我們</div>
        </a>
    </li>
</template>
<template name="menu_all">
    <li class="current mega-menu">
        <a href="#">
            <div><i class="icon-reorder"></i></div>
        </a>
        <div class="mega-menu-content style-2 clearfix">
            <ul class="mega-menu-column col-5">
                <li class="mega-menu-title">
                    <a href="#">
                        <div>房地產</div>
                    </a>
                    <ul>
                        <li>
                            <a href="blog.html">
                                <div>美國房產</div>
                            </a>
                        </li>
                        <li>
                            <a href="blog-left-sidebar.html">
                                <div>英國房產</div>
                            </a>
                        </li>
                        <li>
                            <a href="blog-both-sidebar.html">
                                <div>西班牙房產</div>
                            </a>
                        </li>
                        <li>
                            <a href="blog-full-width.html">
                                <div>加拿大房產</div>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="mega-menu-title">
                    <a href="#">
                        <div>保險</div>
                    </a>
                    <ul>
                        <li>
                            <a href="blog-timeline-left-sidebar.html">
                                <div>Left Sidebar</div>
                            </a>
                        </li>
                        <li>
                            <a href="blog-timeline.html">
                                <div>Full Width</div>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="mega-menu-column col-5">
                <li class="mega-menu-title">
                    <a href="#">
                        <div>投資</div>
                    </a>
                    <ul>
                        <li>
                            <a href="blog-timeline-right-sidebar.html">
                                <div>Right Sidebar</div>
                            </a>
                        </li>
                        <li>
                            <a href="blog-masonry.html">
                                <div>4 Columns</div>
                            </a>
                        </li>
                        <li>
                            <a href="blog-masonry-full.html">
                                <div>100% Width</div>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="mega-menu-title">
                    <a href="#">
                        <div>營運</div>
                    </a>
                    <ul>
                        <li>
                            <a href="blog-small-left-sidebar.html">
                                <div>商品管理</div>
                            </a>
                        </li>
                        <li>
                            <a href="blog-small.html">
                                <div>審核追蹤</div>
                            </a>
                        </li>
                        <li>
                            <a href="blog-small-both-sidebar.html">
                                <div>客戶投資內容</div>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="mega-menu-column col-5">
                <li class="mega-menu-title">
                    <a href="#">
                        <div>財務</div>
                    </a>
                    <ul>
                        <li>
                            <a href="blog-grid.html">
                                <div>會計帳</div>
                            </a>
                        </li>
                        <li>
                            <a href="blog-masonry.html">
                                <div>人資管理</div>
                            </a>
                        </li>
                        <li>
                            <a href="blog-masonry.html">
                                <div>股東盈餘分配</div>
                            </a>
                        </li>
                        <li>
                            <a href="blog-masonry.html">
                                <div>董監酬勞</div>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="mega-menu-title">
                    <a href="#">
                        <div>通知</div>
                    </a>
                    <ul>
                        <li>
                            <a href="blog-grid.html">
                                <div>公告管理</div>
                            </a>
                        </li>
                        <li>
                            <a href="blog-masonry.html">
                                <div>行事曆管理</div>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="mega-menu-column col-5">
                <li class="mega-menu-title">
                    <a href="#">
                        <div>業務</div>
                    </a>
                    <ul>
                        <li>
                            <a href="blog-grid.html">
                                <div>我的客戶管理</div>
                            </a>
                        </li>
                        <li>
                            <a href="blog-masonry.html">
                                <div>我的收佣管理</div>
                            </a>
                        </li>
                        <li>
                            <a href="blog-masonry.html">
                                <div>房產配息試算</div>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="mega-menu-title">
                    <a href="#">
                        <div>團隊</div>
                    </a>
                    <ul>
                        <li>
                            <a href="blog-single-left-sidebar.html#comments">
                                <div>業績統計</div>
                            </a>
                        </li>
                        <li>
                            <a href="blog-single-small.html#comments">
                                <div>發佣狀況</div>
                            </a>
                        </li>
                        <li>
                            <a href="blog-single-small.html#comments">
                                <div>會計帳</div>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="mega-menu-column col-5">
                <li class="mega-menu-title">
                    <a href="#">
                        <div>相關連結</div>
                    </a>
                    <ul>
                        <li>
                            <a href="blog-single.html">
                                <div>廣達官網</div>
                            </a>
                        </li>
                        <li>
                            <a href="blog-single-left-sidebar.html">
                                <div>英國友誠國際</div>
                            </a>
                        </li>
                        <li>
                            <a href="blog-single-full.html">
                                <div>標準人壽</div>
                            </a>
                        </li>
                        <li>
                            <a href="blog-single-small.html">
                                <div>ITA官網</div>
                            </a>
                        </li>
                        <li>
                            <a href="blog-single-split-right-sidebar.html">
                                <div>YOGA官網</div>
                            </a>
                        </li><li>
                            <a href="blog-single-split-right-sidebar.html">
                                <div>YOGA官網</div>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </li>
</template>
