<template name="left_menu4">
    {{#each product4}}
    <li><a class="menu-product3-a" data-id="{{_id}}" href="/product4/{{product4_order1_id}}">{{value}}</a></li>
    {{/each}}
</template>
<template name="left_menu3">
    {{#each product3}}
    <li><a class="menu-product3-a" data-id="{{_id}}" href="/product3/{{_id}}">{{value}}</a></li>
    {{/each}}
</template>
<template name="left_menu2">
    {{#each product2}}
    <li><a href="#"><i class="icon-briefcase"></i>{{value}}</a>
        <ul>
            {{> left_menu4 product2_id=_id}}
        </ul>
    </li>
    {{/each}}
</template>
<template name="left_menu1">
    {{#each product1}}
    <div class="product-menu toggle">
        <div class="togglet"><i class="toggle-closed icon-ok-circle"></i><i class="toggle-open icon-remove-circle"></i>{{value}}</div>
        <div class="togglec">
            <nav class="nav-tree nobottommargin">
                <ul>
                    {{> left_menu2 product1_id=_id }}
                    <!-- <li>&nbsp;</li> -->
                </ul>
            </nav>
        </div>
    </div>
    {{/each}}
</template>
<template name="left_menu">
    <style type="text/css">
        .flex-control-nav .flex-control-thumbs{
            margin-top: 20px;
        }
        a{
            /*text-decoration: underline !important;*/
        }
        .my-underline{
            border-bottom: 1px #9C27B0 solid;
            height: 24px;
            width: 74px;
            font-size: 17px;
            color: #3F51B5;
        }

    </style>
    <!-- Sidebar ============================================= -->
    <!-- <div class="sidebar nobottommargin clearfix hidden-md hidden-sm hidden-xs"> -->
    <div class="sidebar nobottommargin clearfix ">
        <div class="sidebar-widgets-wrap">
            <div class="widget clearfix">
                <h4 class="my-underline" style="font-size: 16px;">產品總覽</h4>
                {{> left_menu1}}
                <BR>
                <nav class="nav-tree bottommargin-sm">
                    <ul>
                        <h4 class="my-underline" style="font-size: 16px;width: 103px;margin-bottom: 10px;margin-top:10px;">相關產品官網</h4>
                        <li>
                            <a href="http://www.hanburyifa.com/en/Index.php" target="_blank">Hanbury IFA</a>
                        </li>
                            <a href="http://www.hanburyifa.com/en/Index.php" target="_blank"><img style="max-width:80px;width: 80px;" src="/logo.png"></a>
                        <li>
                            <a href="http://www.grandtag.com/zh-hk/" target="_blank">廣達理財</a>
                        </li>
                            <a href="http://www.grandtag.com/zh-hk/" target="_blank"><img style="max-width:80px;height: 21px; width: 80px;" src="/logos/gt.png"></a>
                        <li>
                            <a href="https://www.fpinternational.com/" target="_blank">英國友誠</a>
                        </li>
                            <a href="https://www.fpinternational.com/" target="_blank"><img style="max-width:80px" src="/logos/fpi.png"></a>
                        <li>
                            <a href="http://www.standardlife.hk/" target="_blank">標準人壽</a>
                        </li>
                            <a href="http://www.standardlife.hk/" target="_blank"><img style="max-width:80px;height: 21px; width: 80px;" src="/logos/sl.jpg"></a>
                        <li>
                            <a href="https://www.voyalifecustomerservice.com/elifeportal/welcome.do" target="_blank">VOYA保險官網</a>
                        </li>
                            <a href="https://www.voyalifecustomerservice.com/elifeportal/welcome.do" target="_blank"><img style="max-width:80px;height: 16px;width: 80px;" src="/logos/voya.gif"></a>
                    </ul>
                </nav>
                <BR>
                <BR>
                <div class="clear"></div>
            </div>
            <!--     <div class="widget clearfix">
                                <div style="max-width:140px">
                                </div>
                            </div> -->
        </div>
    </div>
    <!-- .sidebar end -->
</template>
