<template name="header_login">
    <style type="text/css">
      #top-cart {
        display: block !important;
      }
    </style>
    <div id="top-cart">
        <a href="/login" id="" style="width: 48px;"><i class="icon-line2-login"></i> 登入</a>
    </div>
</template>
<template name="header_login2">
    <div id="top-cart">
        <a href="#" id="top-cart-trigger" style="width: 48px;"><i class="icon-line2-login"></i> 登入</a>
        <div class="top-cart-content">
            <div class="top-cart-title">
                <h4>使用者登入
                <button class="btn-showlogin button button-3d button-mini nomargin fright button-leaf" style="" type="button">登入選單</button>
                <button class="btn-showregister button button-3d button-mini nomargin fright button-pink" style="margin-right: 10px;" type="button">註冊選單</button>
                </h4>
            </div>
            {{> login}} {{> register}}
        </div>
    </div>
</template>
<template name="header_logout">
<style type="text/css">
  #top-cart {
    display: block !important;
  }
</style>
    <div id="top-cart">
        <a href="/logout" id="" style="width: 48px;"><i class="icon-line2-logout"></i> 登出</a>
    </div>
    <div id="top-cart">
        <a style="width: 200px;" href="/employee/{{userid}}"><i class="icon-user"></i> {{engname}}</a>
    </div>
</template>
<template name="header_search">
    <!-- Top Search
                        ============================================= -->
    <div id="top-search">
        <a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
        <form action="search.html" method="get">
            <input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter..">
        </form>
    </div>
    <!-- #top-search end -->
</template>
<template name="mainpage_header">
    <!-- Header
        ============================================= -->
    <header id="header" class="sticky-style-2">
        <div class="container clearfix">
            <!-- Logo
                ============================================= -->
            <div id="logo">
                <!-- <a href="/" class="standard-logo" data-dark-logo="/logo.png"><img src="/logo.png" alt="Hanbury Logo"></a>
                <a href="/" class="retina-logo" data-dark-logo="/logo.png"><img src="/logo.png" alt="Hanbury Logo"></a> -->
                歡樂派對 Happy Dating
            </div>
            <!-- #logo end -->
            <div class="top-advert">
                <!-- <img src="ad.jpg" alt="Ad"> -->
            </div>
        </div>
        <div id="header-wrap">
            <!-- Primary Navigation
                ============================================= -->
            <nav id="primary-menu" class="style-2">
                <div class="container clearfix">
                    <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
                    <ul>
                        {{#if currentUser}} {{> menu_all}} {{ > menu_inhouse}} {{else}} {{> menu_guest}} {{/if}}
                    </ul>
                    {{#if currentUser}}
                    <!-- <p>You're logged in.</p> -->
                    {{> header_logout}} {{else}} {{> header_login}} {{/if}} {{! > header_search}}
                </div>
            </nav>
            <!-- #primary-menu end -->
        </div>
    </header>
    <!-- #header end -->
</template>
