<template name="mainpage">
    <style type="text/css">
    #content {
      overflow : visible;
    }
    .sidebar {
        width: 170px;
    }
    /*.postcontent {
        width: 940px;
    }*/
    .sidebar {
        margin-right: 30px;
    }
    </style>
    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">
        {{> mainpage_header }}
        <!-- Content
        ============================================= -->
        <section id="content">
            <div class="content-wrap" style="padding-bottom: 0px;padding-top:40px">
                {{> yield}}
            </div>
        </section>
        <!-- #content end -->
        {{> mainpage_footer}}
    </div>
    <!-- #wrapper end -->
    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>
    <!-- Footer Scripts
    ============================================= -->
    <!-- <script type="text/javascript" src="js/functions.js"></script> -->
</template>
<template name="mainpage2">
    <style type="text/css">
    .sidebar {
        width: 170px;
    }
    /*.postcontent {
        width: 940px;
    }*/
    .sidebar {
        margin-right: 30px;
    }
    </style>
    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">
        {{> mainpage_header }}
        <!-- Content
        ============================================= -->
        <section id="content">
            <div class="content-wrap" style="padding-bottom: 0px;padding-top:40px">
                <div class="container clearfix">
                    {{> left_menu}}
                    <!-- <div class="postcontent nobottommargin col_last"> -->
                    <div class="postcontent col_last">
                        {{> yield }}
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- #content end -->
        {{> mainpage_footer}}
    </div>
    <!-- #wrapper end -->
    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>
    <!-- Footer Scripts
    ============================================= -->
    <!-- <script type="text/javascript" src="js/functions.js"></script> -->
</template>
